﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_SELLING_TYPE_PACKAGE

@{
    ViewBag.Title = "Add Customer Package";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "10: OEM",
        Value = "10"
    });
    listItems.Add(new SelectListItem
    {
        Text = "11: Part Center",
        Value = "11",
    });
    listItems.Add(new SelectListItem
    {
        Text = "20: Export",
        Value = "20",
    });
}

@Html.Hidden("insPKSelling", @Url.Action("insPKSelling", "Logistic"))
@Html.Hidden("ViewData", @Url.Action("PKSelling", "Logistic"))
@Html.Hidden("getShipToName", @Url.Action("getShipToName", "Logistic"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Customer Package</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Material No:</label>
                            <span>
                                @Html.DropDownList("M_MatNo",
                                          new SelectList(ViewBag.mat, "iValue", "iKey"), "Choose Material No",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>OEM:</label>
                            <span>
                                @Html.EditorFor(model => model.OEM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OEM, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Part Center:</label>
                            <span>
                                @Html.EditorFor(model => model.Part_Center, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Part_Center, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label>Export:</label>
                                <span>
                                    @Html.EditorFor(model => model.Export, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Export, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
        </div>
        <br />

         <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Component Export:</label>
                                <span>
                                    @Html.EditorFor(model => model.ComExport, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ComExport, "", new { @class = "text-danger" })
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-lg" onclick="insPKSelling()">Save</button>
            </div>
        </div>

    </div>
</div>

<script>
    function insPKSelling() {
        var urlAction = $('#insPKSelling').val();
        var param = {
            M_MatNo: $("#M_MatNo").val(),
            OEM: $("#OEM").val(),
            Part_Center: $("#Part_Center").val(),
            Export: $("#Export").val(),
            ComExport: $("#ComExport").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Package Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }

    @*$("#M_MatNo").change(function () {

        var urlAction = $('#getShipToName').val();
        var MatNo = $("#M_MatNo").val();

        console.log(MatNo);
        $.ajax({
            url: urlAction,
            type: "POST",
            data: {
                M_MatNo: MatNo
            },
            success: function (obj) {
                console.log(obj);
                $("#ShipTo_Name").html('');
                $("#ShipTo_Name").append('<option>Choose Ship To Name</option>');
                $.each(obj.result, function (i, obj) {

                    $("#ShipTo_Name").append('<option value="' + obj.iValue + '">' + obj.iKey + '</option>');
                });
            }
        });
    });*@
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
