﻿@*@model IEnumerable<SAP_MAT_SETUP.Database.T_IMCT_PART_INPUT_QTY>*@
@model dynamic

@{
    ViewBag.Title = "IMCT PART INPUT QTY";
}
@Html.Hidden("addInputQty", @Url.Action("addInputQty", "Logistic"))
@Html.Hidden("addInputQty2", @Url.Action("addInputQty2", "Logistic"))
@Html.Hidden("addInputQty3", @Url.Action("addInputQty3", "Logistic"))

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
@*<script src="~/Scripts/popper.min.js"></script>*@
<style>
    #tbdisplay td, #tbdisplay th {
        white-space: nowrap;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>
<div class="card bg-light text-dark">
    <div class="card-body">
        <h1 style="text-align:center !important">INPUT QTY</h1>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="imct-tab" data-toggle="tab" href="#imct" role="tab" aria-controls="imct" aria-selected="true">IMCT PART</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="cust-tab" data-toggle="tab" href="#cust" role="tab" aria-controls="cust" aria-selected="false">CUST PART</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="path-tab" data-toggle="tab" href="#path" role="tab" aria-controls="path" aria-selected="false">GTOPAS IMG PATH</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="imct" role="tabpanel" aria-labelledby="imct-tab">
                <form class="form-inline my-2">
                    <input type="text" class="form-control" id="custpartNoTxt" placeholder="CustPart No">
                    <a role="button" class="btn btn-success" onclick="AddInputQty();" style="float:right">ADD</a>
                </form>

                <div class="table-responsive">
                    <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>CustPartNo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.t_IMCT_PART_INPUT_QTY)
                                {
                                    <tr>
                                        <td>
                                            @item.CustPartNo
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane fade" id="cust" role="tabpanel" aria-labelledby="cust-tab">
                <form class="form-inline my-2">
                    <input type="text" class="form-control" id="custIdTxt" placeholder="CustID">
                    <a role="button" class="btn btn-success" onclick="AddInputQty2();" style="float:right">ADD</a>
                </form>

                <div class="table-responsive">
                    <table id="tbdisplay2" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>CUSTID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.t_CustID_MS)
                                {
                                    <tr>
                                        <td>
                                            @item.CUSTID
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane fade" id="path" role="tabpanel" aria-labelledby="path-tab">
                <form class="form-inline my-2">
                    <input type="text" class="form-control" id="partNoTxt" placeholder="PartNumber">
                    <a role="button" class="btn btn-success" onclick="AddInputQty3();" style="float:right">ADD</a>
                </form>

                <div class="table-responsive">
                    <table id="tbdisplay3" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>PartNumber</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.t_SPIS_PATH_GTOPAS)
                                {
                                    <tr>
                                        <td>
                                            @item.PartNumber
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>
<script>

    function AddInputQty() {
        var custpartNoTxt = $('#custpartNoTxt').val();

        var urlAction = $('#addInputQty').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                custpartNo: custpartNoTxt,
            },
            success: function (obj) {
                var result = obj.result

                if (result.includes("success"))
                    $('#tbdisplay').prepend('<tr><td>' + custIdTxt + '</td></tr>');

                alert(result);
            }
        });
    }

    function AddInputQty2() {
        var custIdTxt = $('#custIdTxt').val();

        var urlAction = $('#addInputQty2').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                custId: custIdTxt,
            },
            success: function (obj) {
                var result = obj.result

                if (result.includes("success"))
                    $('#tbdisplay2').prepend('<tr><td>' + custIdTxt + '</td></tr>');

                alert(result);
            }
        });
    }

    function AddInputQty3() {
        var partNoTxt = $('#partNoTxt').val();

        var urlAction = $('#addInputQty3').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                partNo: partNoTxt,
            },
            success: function (obj) {
                var result = obj.result

                if(result.includes("success"))
                    $('#tbdisplay3').prepend('<tr><td>' + partNoTxt + '</td></tr>');

                alert(result);
            }
        });
    }

    $(document).ready(function () {
        table = $('#tbdisplay').DataTable({
            "scrollX": true
        });

        table2 = $('#tbdisplay2').DataTable({
            "scrollX": true
        });

        table3 = $('#tbdisplay3').DataTable({
            "scrollX": true
        });
    });
</script>