﻿
@model SAP_MAT_SETUP.Models.Logistic

@using SAP_MAT_SETUP.Models

@{
    ViewBag.Title = "Edit Material - Logistic";
}

@Html.Hidden("updateLogistic", @Url.Action("updateLogistic", "Logistic"))
@Html.HiddenFor(model => model.I_RegID)
@Html.HiddenFor(model => model.M_MatNo)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("getCustName", @Url.Action("getCustName", "Logistic"))
@*@Html.Hidden("updateBoxQty", @Url.Action("updateBoxQty", "Home"))*@
@Html.Hidden("updateMatBoxQty", @Url.Action("updateMatBoxQty", "Logistic"))
@Html.Hidden("insPKSelling", @Url.Action("insPKSelling", "Logistic"))
@Html.Hidden("updatePKSelling", @Url.Action("updatePKSelling", "Logistic"))



@{


}

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Material Setup</h1>

        <table class="table table-bordered" id="MatBox">
            <thead>
                <tr>
                    <th style="text-align:center" scope="col">RegID</th>
                    <th style="text-align:center" scope="col">Model</th>
                    <th style="text-align:center" scope="col">Lineoff</th>
                    <th style="text-align:center" scope="col">Material No.</th>
                    <th style="text-align:center" scope="col">Remark</th>
                    <th style="text-align:center" scope="col">PRD Box Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center">@Model.I_RegID</td>
                    <td style="text-align:center">@Model.M_Model</td>
                    <td style="text-align:center">@Model.M_Lineoff</td>
                    <td style="text-align:center">@Model.M_MatNo</td>
                    <td style="text-align:center">@Model.M_Remark</td>
                    <td contenteditable="true">@Model.L_BoxQty</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="row"></div>
                <button type="button" id="btnUpdateMatBox" class="btn btn-success btn-lg" onclick="updateMatBoxQty()">Save</button>
            </div>
        </div>
        <br />

        <h1>Customer Package</h1>
        <br />

        @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>OEM:</label>
                                <span>
                                    @Html.DropDownList("OEM",
                                             new SelectList(ViewBag.Shipto, "iValue", "iKey"), "Choose Model",
                                                    new { @class = "form-control", @style = "float:right;", @required = true })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label>Part Center:</label>
                                <span>
                                    @Html.EditorFor(model => model.Part_Center, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Part_Center, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Export:</label>
                                <span>
                                    @Html.EditorFor(model => model.Export, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Export, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">
                                <label>Component Export:</label>
                                <span>
                                    @Html.EditorFor(model => model.ComExport, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ComExport, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>*@
        <br />

        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%" name="BoxQty">
                <thead>
                    <tr>
                        <th>Plant</th>
                        <th>Cust_ID</th>
                        <th>Cust_Name</th>
                        <th>Channel</th>
                        <th>Division</th>
                        <th>Box Qty</th>
                        <th>Box Qty Type</th>
                    </tr>
                </thead>
                <tbody>
                    @{var c = 1; }
                    @foreach (var item in ViewBag.lstLG)
                    {

                        <tr>
                            <td> @item.Plant</td>
                            <td> @item.Cust_ID</td>
                            <td> @item.Cust_Name</td>
                            <td> @item.Channel</td>

                            @if (@item.Division == "10")
                            {
                                <td style="color:cornflowerblue">10: OEM</td>
                            }
                            else if (@item.Division == "11")
                            {
                                <td style="color:firebrick">11: Part Center</td>
                            }
                            else if (@item.Division == "20")
                            {
                                <td style="color:green">20: Direct Export</td>
                            }
                            <td contenteditable="true"> @item.L_BoxQty</td>
                            @if (item.L_BoxQtyType == null)
                            {
                                <td style="padding-top : 5px">
                                    @Html.DropDownListFor(x => x.L_BoxQtyType, new List<SelectListItem> {
                                new SelectListItem { Value = "false" , Text = "Temporally" },
                                new SelectListItem { Value = "true" , Text = "Actual" },
                             }, "Please Select BoxQtyType", new { @class = "form-control", @id= "L_BoxQtyType_" + c })
                                </td>
                            }
                            else
                            {

                                if (item.L_BoxQtyType == true)
                                {
                                    <td id="L_BoxQtyTypeData" onclick="setvalue(@c)"><span id="L_BoxQtyType_@c">Actual</span> </td>
                                }
                                else
                                {
                                    <td id="L_BoxQtyTypeData" onclick="setvalue(@c)"><span id="L_BoxQtyType_@c">Temporally</span> </td>
                                }

                                <td class="div" style="display:none;padding-top:5px"></td>


                            }


                        </tr>
                        c++;
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <button type="button" id="btnUpdatePK" class="btn btn-success btn-lg" onclick="updatePKSelling()">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function setvalue(number) {
        $("#L_BoxQtyTypeData").remove();
        var x = $('<select class="form-control" data-val="true" data-val-required="The L_BoxQtyType field is required." name="L_BoxQtyType"><option value="">Please Select BoxQtyType</option><option value="false">Temporally</option><option value="true">Actual</option></select>');
        $('.div').append(x.attr('id', 'L_BoxQtyType_' + number));
        $('.div').show();

    }



    function updatePKSelling() {
                                var urlAction = $('#updatePKSelling').val();

                                var table = document.getElementById("tbdisplay");
                                var i = 0;
        var param = [];
        var QtyType = true;
        for (let row of table.rows) {
            if (row.cells[6].innerText === "Actual") {
                QtyType = true;
            }
            else {
                QtyType = false;
            }
            if (row.cells[6].innerText.includes("\n")) {
                QtyType = $('#L_BoxQtyType_'+ i ).val()
            }
                                    if (i != 0) {
                                        param.push({
                                        I_RegID: $("#I_RegID").val(),
                    Plant: row.cells[0].innerText,
                    Cust_ID: row.cells[1].innerText,
                    L_BoxQty: row.cells[5].innerText,
                    L_BoxQtyType: QtyType,
                })
            }
                            i++;
        }

        console.log(param);
        var check = confirm("คุณต้องการบันทึกการแก้ไขนี้" + "\n" + "จริงหรือไม่?");
        if (check === true) {
            document.body.style.cursor = 'wait';
            document.getElementById("btnUpdatePK").disabled = true;

            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                   model: param
                },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdatePK").disabled = false;
                    console.log(data);

                    if (data.isValid == "true") {
                        alert("Update Complete!!");

                        setTimeout(function () {
                            window.location.href = urlAction;
                        }, 2000)
                    }

                    else {
                        alert(data.message);
                    }

                },
                error: function (data, textStatus, errorThrown) {
                    //console.log("Error");
                    //console.log(obj);
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdatePK").disabled = false;
                    var err = data.message;
                    alert("Error: " + err);
                }
            });
         }
    }

        function insPKSelling() {
                            var urlAction = $('#insPKSelling').val();
                            var MatN = getParameterByName('MatN');


                            var param = {
                I_RegID: $("#I_RegID").val(),
                M_MatNo: MatN,
                OEM: $("#OEM").val(),
                Part_Center: $("#Part_Center").val(),
                Export: $("#Export").val(),
                ComExport: $("#ComExport").val(),
            };
                        console.log(param);
            $.ajax({
                        url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: param,
                success: function (obj) {
                                alert("Add Package Complete!!");
                    @*var urlAction = $('#ViewData').val();
                    window.location.href = urlAction;*@
                }
            });
        }

    @*getCustName();*@
    function getCustName() {

        var custmat = getParameterByName('Cust');
        var CustName = getParameterByName('CustN');
        $("#CustMat").val(custmat);
        RegID = getParameterByName('RegId');
        @*var custname = getParameterByName('custN');*@
        var urlAction = $('#getCustName').val();
        console.log(CustName);

        @* $("#CustName").val(custname);*@

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: { Customers: CustName },
            success: function (obj) {
                console.log(obj.result);
                $("#CustName").val(obj.result);
            }
        });

    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    function updateBoxQty() {
        var urlAction = $('#updateBoxQty').val();

        var param = [];
        var table = document.getElementsByName('BoxQty');
        for (var r = 1, n = table.rows.length; r < n; r++) {
            param.push({
                I_RegID: $('#I_RegID').val(),
                Cust_ID: table.rows[r].cells[0].innerHTML,
                Cust_Name: table.rows[r].cells[1].innerHTML,
                L_BoxQty: table.rows[r].cells[2].innerHTML,
            });

            console.log(param);
        }
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                model: param,
            },
            success: function (obj) {
                if (obj.result == "insert success !!") {

                    alert("Add Box Qty. Complete!!");
                 @*var urlAction = $('#ViewData').val();
                window.location.href = urlAction;*@
                } else {
                    alert(obj.result)
                }
        }
        });
    }

    function updateMatBoxQty() {
        var urlAction = $('#updateMatBoxQty').val();

        var param = [];
        var table = document.getElementById('MatBox');
        console.log(param);
        var check = confirm("คุณต้องการบันทึกการแก้ไขนี้" + "\n" + "จริงหรือไม่?");
        if (check === true) {
            document.body.style.cursor = 'wait';
            document.getElementById("btnUpdateMatBox").disabled = true;

            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    I_RegID: $('#I_RegID').val(),
                    M_MatNo: table.rows[1].cells[3].innerHTML,
                    L_BoxQty: table.rows[1].cells[5].innerHTML,
                },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdateMatBox").disabled = false;

                    if (data.isValid == "true") {
                        alert("Add Box Qty. Complete!!");
                        @* window.close();*@
                        setTimeout(function () {
                            window.location.href = urlAction;
                        }, 2000)
                    }

                    else {
                        alert(data.message)
                    }
                }
            });
        }

    }

    function updateLogistic() {
        var urlAction = $('#updateLogistic').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                //M_TKCCustPNo: $('#MatTKCNo').val(),
                I_RegID: $('#I_RegID').val(),
                L_BoxQty: $('#L_BoxQty').val(),
                I_Status_LG: 'OK',
            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }

</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    th {
        background: #D5D3D3;
    }
</style>

