﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAPMAT_SELLING_TYPE_PACKAGE>

@{
    ViewBag.Title = "Customer Package";
}
@Html.Hidden("ViewData", @Url.Action("AddPKSelling", "Logistic"))

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Customer Package</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Package</button>
        <h1></h1>
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Material No</th>
                        <th>OEM</th>
                        <th>Part Center</th>
                        <th>Export</th>
                        <th>Component Export</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.OEM)</td>
                            <td>@Html.DisplayFor(modelItem => item.Part_Center)</td>
                            <td>@Html.DisplayFor(modelItem => item.Export)</td>
                            <td>@Html.DisplayFor(modelItem => item.ComExport)</td>
                            <td>@Html.ActionLink("Edit", "EditPKSelling", "Home", new { M_MatNo = item.M_MatNo }, null)</td>
                            @* <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.DockCode">DELETE</button></td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        table = $('#tbdisplay').DataTable();

    });

    $('#tbdisplay').on("click", "button", function () {

        if (confirm('Do you want to delete this Ship To ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var dockcode = $(this).val();
            console.log(dockcode);

            var urlAction = $('#DelShipTo').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    Dockcode: dockcode,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });
    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>


