﻿@model SAP_MAT_SETUP.Database.T_SAP_Price_Package

@{
    ViewBag.Title = "Add Confirm Price No/Package";
}


@Html.Hidden("insCFPricePack", @Url.Action("insCFPricePack", "Sale"))
@Html.Hidden("ViewData", @Url.Action("AddCFPricePack", "Sale"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Confirm Price No/Package</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Confirm Price No/Package:</label>
                            <span>

                                @Html.EditorFor(model => model.Master_Price_Confirm_No, new { htmlAttributes = new { @class = "form-control", @maxlength = "15", @required = true } })
                                @Html.ValidationMessageFor(model => model.Master_Price_Confirm_No, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <!--<div class="col-md-10">
                            <label>Package Code:</label>
                            <span>
                                @Html.EditorFor(model => model.Pk_CD, new { htmlAttributes = new { @class = "form-control", @maxlength = "7", @required = true } })
                                @Html.ValidationMessageFor(model => model.Pk_CD, "", new { @class = "text-danger" })
                            </span>-->
                        @*<div class="col-md-4"></div>*@
                        <!--<div class="col-md-12">
                                <label style="font-size:12px;">*** If Master Price Confirm No less 15 character please fill Package Code</label>
                            </div>

                        </div>-->
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" onclick="insCFPricePack()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>
    function insCFPricePack() {
        var urlAction = $('#insCFPricePack').val();
        var param = {
            Master_Price_Confirm_No: $("#Master_Price_Confirm_No").val(),
            Pk_CD: $("#Master_Price_Confirm_No").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Confirm Price No/Package Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>