﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAP_Price_Package>

@{
    ViewBag.Title = "Add Confirm Price No/Package";
}

@Html.Hidden("insCFPricePack", @Url.Action("insCFPricePack", "Sale"))
@Html.Hidden("ViewData", @Url.Action("AddConfirm", "Sale"))

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Confirm Price No/Package</h1>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary" onclick="OpenPage()">Add Confirm Price No/Package</button>
            </div>
        </div>
        <br />
        <br />
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Confirm Price No/Package</th>
                        <th>Package Code</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Master_Price_Confirm_No</td>
                            <td>@item.Pk_CD</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    $(document).ready(function () {
        $('#tbdisplay').DataTable();
    });
    function insCFPricePack() {
        var urlAction = $('#insCFPricePack').val();
        var param = {
            Master_Price_Confirm_No: $("#Master_Price_Confirm_No").val(),
            Pk_CD: $("#Master_Price_Confirm_No").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Confirm Price No/Package Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>