﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_Model

@{
    ViewBag.Title = "Add Model";
}

@Html.Hidden("insModel", @Url.Action("insModel", "Sale"))
@Html.Hidden("ViewData", @Url.Action("Model", "Sale"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Model</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Code:</label>
                            <span>
                                @Html.DropDownList("CustCD",
                                          new SelectList(ViewBag.cust, "iValue", "iKey"), "Choose Customer",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                @Html.ValidationMessageFor(model => model.CustCD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Model:</label>
                            <span>
                                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" onclick="insModel()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>
    
    function insModel() {
        var urlAction = $('#insModel').val();

        var param = {
            Model: $("#Model").val(),
            CustCD: $("#CustCD").val(),
            
        };

        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Model Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>