﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_PLANT

@{
    ViewBag.Title = "Edit Ship To";
}

@Html.Hidden("UpdateShipTo", @Url.Action("UpdateShipTo", "Sale"))
@Html.Hidden("ViewData", @Url.Action("ShipTo", "Sale"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Edit ShipTo</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer ID:</label>
                            <span>
                                @Html.EditorFor(model => model.CUSTID, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.CUSTID, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer Name:</label>
                            <span>
                                @Html.EditorFor(model => model.CUST_NAME, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.CUST_NAME, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Plant:</label>
                            <span>
                                @Html.EditorFor(model => model.PLANT, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.PLANT, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.SOLD_TO, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "7" } })
                                @Html.ValidationMessageFor(model => model.SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Division:</label>
                            <span>
                                @Html.EditorFor(model => model.DIVISION, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "2" } })
                                @Html.ValidationMessageFor(model => model.DIVISION, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Channel:</label>
                            <span>
                                @Html.EditorFor(model => model.CHANNEL, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "2" } })
                                @Html.ValidationMessageFor(model => model.CHANNEL, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Ship To:</label>
                            <span>
                                @Html.EditorFor(model => model.SHIP_TO, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "7" } })
                                @Html.ValidationMessageFor(model => model.SHIP_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Storage Location:</label>
                            <span>
                                @Html.EditorFor(model => model.Str_Loc, new { htmlAttributes = new { @class = "form-control", @required = true, @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.Str_Loc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg" onclick="UpdateShipTo()">Update</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>

    function UpdateShipTo() {
        var urlAction = $('#UpdateShipTo').val();

        var param = {
            CUSTID: $("#CUSTID").val(),
            SOLD_TO: $("#SOLD_TO").val(),
            PLANT: $("#PLANT").val(),
            DIVISION: $("#DIVISION").val(),
            CHANNEL: $("#CHANNEL").val(),
            SHIP_TO: $("#SHIP_TO").val(),
            CUST_NAME: $("#CUST_NAME").val(),
            Str_Loc: $("#Str_Loc").val(),

        };

        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Edit Ship To Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>
