﻿
@{
    ViewBag.Title = "Master To SAP";
}
@Html.Hidden("ExcelCM", @Url.Action("ExcelCM", "Sale"))
@Html.Hidden("ExcelMM", @Url.Action("ExcelMM", "Sale"))
@Html.Hidden("ExcelSP", @Url.Action("ExcelSP", "Sale"))
@Html.Hidden("ExcelSPNP", @Url.Action("ExcelSPNP", "Sale"))
@Html.Hidden("ExcelMMZFG", @Url.Action("ExcelMMZFG", "Sale"))
@Html.Hidden("ExcelMMZRM", @Url.Action("ExcelMMZRM", "Sale"))
@Html.Hidden("ExcelMMZTD", @Url.Action("ExcelMMZTD", "Sale"))
@Html.Hidden("Download", @Url.Action("Download", "Sale"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>MASTER TO SAP</h1>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <label>Data:</label>
                            <span>
                                @Html.DropDownList("CUSTOMER",
                                              new SelectList(ViewBag.name, "iValue", "iKey"), "Choose Data",
                                                     new { @class = "form-control", @style = "float:right;" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" onclick="checkData()">EXPORT</button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <label>Model:</label>
                            <span>
                                @Html.DropDownList("Model",
                                              new SelectList(ViewBag.model, "iValue", "iKey"), "Choose Model",
                                                     new { @class = "form-control", @style = "float:right;" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" id="Loadbtn" onclick="checkData()">EXPORT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function checkData() {
        var data = $('#CUSTOMER').val();
        console.log(data);
        if (data == 'v_sap_cust_mat_to_sap') {
            ExcelCM();
        }
        else if (data == 'v_sap_mat_to_sap') {
            ExcelMM();
        }
        else if (data == 'v_sap_price_package_to_sap') {
            ExcelSP();
        }
        else if (data == 'v_sap_price_no_package_to_sap') {
            ExcelSPNP();
        }
        else if (data == 'V_SAP_MAT_ZFG_TO_SAP') {
            ExcelMMZFG();
        }
        else if (data == 'V_SAP_MAT_ZRM_TO_SAP') {
            ExcelMMZRM();
        }
        else if (data == 'V_SAP_MAT_ZTD_TO_SAP') {
            ExcelMMZTD();
        }
    }

    function ExcelCM() {
        var urlAction = $('#ExcelCM').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้!! ข้อมูลนี้อาจไม่มีอยู่ในฐานข้อมูล");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelMM() {
        var urlAction = $('#ExcelMM').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelMMZRM() {
        var urlAction = $('#ExcelMMZRM').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelMMZFG() {
        var urlAction = $('#ExcelMMZFG').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';

                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelMMZTD() {
        var urlAction = $('#ExcelMMZTD').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelSP() {
        var urlAction = $('#ExcelSP').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }

    function ExcelSPNP() {
        var urlAction = $('#ExcelSPNP').val();
        var urlDownload = $('#Download').val();
        var y = document.getElementById('CUSTOMER');
        var datatype = y.options[y.selectedIndex].text;
        $('#Loadbtn').attr("disabled", true);
        if (confirm("ต้องการ Export ไฟล์หรือไม่")) {
            document.body.style.cursor = 'wait';
            $.ajax({
                type: "POST",
                url: urlAction,
                data: {
                    Model: $('#Model').val(),
                    Datatype: datatype,
                },
                cache: false,
                success: function (res) {
                    document.body.style.cursor = 'default';
                    if (res.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        /**/
                        window.location.href = urlDownload + "/?file=" + res.fileName;
                        $('#Loadbtn').removeAttr("disabled");
                        /**/
                    } else {
                        alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                        $('#Loadbtn').removeAttr("disabled");
                    }
                }
            });
        }
    }
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>