﻿@*@model IEnumerable<SAP_MAT_SETUP.Database.v_sapmat_nexport>*@
@{
    ViewBag.Title = "Main Menu";
}

@Html.Hidden("DelMat", @Url.Action("DelMat", "Sale"))
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>

@*<script src="~/Scripts/bootstrap-4.5.2.min.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>*@
@*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@

<style>
    #tbdisplay td, #tbdisplay th {
        white-space: nowrap;
    }
</style>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>MATERIAL MASTER SETUP</h1>

        <br />

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <h1></h1>
                    <label>สถานะ OK = ข้อมูลได้รับการอนุมัติจาก manager แล้ว</label>
                </div>
                <div class="row">
                    <label>สถานะ NG = ข้อมูลยังไม่ได้รับการอนุมัติจาก manager หรือยัง Update ข้อมูลไม่เรียบร้อย</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" onclick="OpenPage()">All</button>
            </div>
        </div>
        <br />

        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>RegID</th>
                        <th>Model</th>
                        <th>Lineoff</th>
                        <th>Material No.</th>
                        <th>Customer Part No.</th>
                        <th>Material Master</th>
                        <th>Customer Material</th>
                        <th>With Package</th>
                        <th>None Package</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.export)
                    {
                        <tr>
                            <td>@item.I_RegID</td>
                            <td>@item.M_Model</td>
                            <td>@item.M_Lineoff</td>
                            <td>@item.M_MatNo</td>
                            <td style="text-align:left;">@item.C_CustPNo</td>
                            @*tab status*@
                            @if (item.Mat_Exported == null)
                            {
                                <td style="color: #ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949">OK</td>
                            }
                            @if (item.Cust_Exported == null)
                            {
                                <td style="color:#ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949">OK</td>
                            }

                            @if (item.Price_Exported == null)
                            {
                                <td style="color:#ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949">OK</td>
                            }

                            @if (item.Pack_Exported == null)
                            {
                                <td style="color:#ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949">OK</td>
                            }

                            <td>@Html.ActionLink("View", "ViewDetail", "Home", new { id = item.I_RegID }, null)</td>
                            @*<td>@Html.ActionLink("Edit", "Purchase", "Home", new { id = item.I_RegID }, null)</td>*@

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    $(document).ready(function () {
        table = $('#tbdisplay').DataTable({
            "scrollX": true
        });

    });


</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
    }

    th, td {
        text-align: center;
    }
</style>
