﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAPMAT_PLANT>

@{
    ViewBag.Title = "Model";
}

@Html.Hidden("DelShipTo", @Url.Action("DelShipTo", "Sale"))
@Html.Hidden("ViewData", @Url.Action("AddShipTo", "Sale"))

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>



<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Ship To</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()">Add ShipTo</button>
        <h1></h1>

        <table id="ShipTotb" class="table table-bordered table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>CustID</th>
                    <th>Cust Name</th>
                    <th>SoldTo</th>
                    <th>Plant</th>
                    <th>Division</th>
                    <th>Channel</th>
                    <th>ShipTo</th>
                    <th>Str_Loc</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CUSTID)</td>
                        <td>@Html.DisplayFor(modelItem => item.CUST_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.SOLD_TO)</td>
                        <td>@Html.DisplayFor(modelItem => item.PLANT)</td>
                        <td>@Html.DisplayFor(modelItem => item.DIVISION)</td>
                        <td>@Html.DisplayFor(modelItem => item.CHANNEL)</td>
                        <td>@Html.DisplayFor(modelItem => item.SHIP_TO)</td>
                        <td>@Html.DisplayFor(modelItem => item.Str_Loc)</td>
                        <td>@Html.ActionLink("Edit", "EditShipTo", new {  Id=item.CUSTID })</td>
                        <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.CUSTID">DELETE</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        table = $('#ShipTotb').DataTable();

    });

    $('#ShipTotb').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Customer ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelShipTo').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>
