﻿@model SAP_MAT_SETUP.Models.Cust4MDSModels

@{
    ViewBag.Title = "Add Customer for MDS";
}
@Html.Hidden("insCust4MDS", @Url.Action("insCust4MDS", "Customer"))
@Html.Hidden("ViewData", @Url.Action("Cust4MDS", "Customer"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Customer for MDS</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Id:</label>
                            <span>
                                @Html.EditorFor(model => model.CustID, new { htmlAttributes = new { @class = "form-control" , @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.CustID, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Data Type:</label>
                            <span>
                                @Html.EditorFor(model => model.DataType, new { htmlAttributes = new { @class = "form-control", @maxlength = "2" } })
                                @Html.ValidationMessageFor(model => model.DataType, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Data Type Report:</label>
                            <span>
                                @Html.EditorFor(model => model.DataTypeRPT, new { htmlAttributes = new { @class = "form-control", @maxlength = "2" } })
                                @Html.ValidationMessageFor(model => model.DataTypeRPT, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Selling Type:</label>
                            <span>
                                @Html.EditorFor(model => model.Sellingtype, new { htmlAttributes = new { @class = "form-control", @maxlength = "1" } })
                                @Html.ValidationMessageFor(model => model.Sellingtype, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-success btn-lg" onclick="insCust4MDS()" />
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    function insCust4MDS() {
        var urlAction = $('#insCust4MDS').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {

                CustID: $('#CustID').val(),
                DataType: $('#DataType').val(),
                DataTypeRPT: $('#DataTypeRPT').val(),
                Sellingtype: $('#Sellingtype').val(),
            },
            success: function (obj) {
                console.log(obj);
                alert("Add Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;

            }
        });
    }
</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }
</style>

