﻿@model SAP_MAT_SETUP.Database.T_CUST_SOLD_TO
@using SAP_MAT_SETUP.Models
@{
    ViewBag.Title = "AddSoldTo";

    List<SelectListItem> Channel = new List<SelectListItem>();
    Channel.Add(new SelectListItem
    {
        Text = "00 Common",
        Value = "00"
    });
    Channel.Add(new SelectListItem
    {
        Text = "10 Domestic",
        Value = "10"
    });
    Channel.Add(new SelectListItem
    {
        Text = "20 Export",
        Value = "20"
    });
    Channel.Add(new SelectListItem
    {
        Text = "30 Affiliated Company",
        Value = "30"
    });

    //List<SelectListItem> Div = new List<SelectListItem>();
    //Div.Add(new SelectListItem
    //{
    //    Text = "10 OEM",
    //    Value = "10"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "11 Part Center",
    //    Value = "11"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "12 Aftermarket",
    //    Value = "12"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "13 Tooling",
    //    Value = "13"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "14 Design Fee",
    //    Value = "14"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "15 Goods Sample",
    //    Value = "15"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "16 Prototype",
    //    Value = "16"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "17 Meterial Local",
    //    Value = "17"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "18 Meterial Import",
    //    Value = "18"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "19 Sub Meterial",
    //    Value = "19"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "20 Export",
    //    Value = "20"
    //});
    //Div.Add(new SelectListItem
    //{
    //    Text = "21 Test Fee",
    //    Value = "21"
    //});

}
@Html.Hidden("ViewData", @Url.Action("SoldTo", "Customer"))
@Html.Hidden("insSoldTo", @Url.Action("insSoldTo", "Customer"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Sold To</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Id Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustID_SOLD_TO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustID_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer SAP Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustSAP_SOLD_TO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustSAP_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Description:</label>
                            <span>
                                @Html.EditorFor(model => model.CustomerDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustomerDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Branch Code:</label>
                            <span>
                                @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Branch Description:</label>
                            <span>
                                @Html.EditorFor(model => model.BranchDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Channel:</label>
                            <span>
                                @Html.DropDownListFor(model => model.Channel, Channel.OrderBy(x => x.Value), "Please Select", new { @class = "form-control", @required = true, @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.Channel, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Division:</label>
                            <span>
                                @*@Html.DropDownListFor(model => model.Division, Div.OrderBy(x => x.Value), "Please Select", new { @class = "form-control", @required = true, @style = "float:right;" })*@
                                @Html.DropDownList("Division",new SelectList(ViewBag.List, "iValue", "iKey"),"please Select", new { @class = "form-control", @required = true, @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Export Customer:</label>
                            <span>
                                @Html.EditorFor(model => model.ExportCust, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExportCust, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-success btn-lg" onclick="insSoldTo()" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<script>
    function insSoldTo() {
        var urlAction = $('#insSoldTo').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Id: $('#Id').val(),
                CustID_SOLD_TO: $('#CustID_SOLD_TO').val(),
                CustSAP_SOLD_TO: $('#CustSAP_SOLD_TO').val(),
                CustomerDesc: $('#CustomerDesc').val(),
                BranchCode: $('#BranchCode').val(),
                BranchDesc: $('#BranchDesc').val(),
                Channel: $('#Channel').val(),
                Division: $('#Division').val(),
                ExportCust: $('#ExportCust').val(),
            },
            success: function (obj) {
                console.log(obj);
                alert("Add Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }
</style>

