﻿@model IEnumerable<SAP_MAT_SETUP.Models.Cust4MDSModels>

@{
    ViewBag.Title = "Customer for MDS";
}

@Html.Hidden("ViewData", @Url.Action("AddCust4MDS", "Customer"))
@Html.Hidden("DelCust4MDS", @Url.Action("DelCust4MDS", "Customer"))
@Html.Hidden("ViewData", @Url.Action("AddCust4MDS", "Customer"))

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

@*<!DOCTYPE html>*@

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Customer for MDS</h1>
        <br />
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Customer for MDS</button>
            </div>
            <div class="col-md-8"></div>

        </div>



        <h1></h1>
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Cust ID</th>
                        <th>DataType</th>
                        <th>DataType Report</th>
                        <th>Sellingtype</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CustID)</td>
                            <td>@Html.DisplayFor(modelItem => item.DataType)</td>
                            <td>@Html.DisplayFor(modelItem => item.DataTypeRPT)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sellingtype)</td>
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.CustID@item.DataType@item.DataTypeRPT">DELETE</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        table = $('#tbdisplay').DataTable();

    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    $('#tbdisplay').on("click", "button", function () {

        if (confirm('Do you want to delete this Customer list?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelCust4MDS').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                //success: function (obj) {
                //    //var urlAction = $('#DelShipTo').val();
                //    //$.ajax({
                //    //    url: urlAction,
                //    //    type: "POST",
                //    //    dataType: "JSON",
                //    //    data: {
                //    //        Dockcode: dockcode,

                //    //    },
                //    //success: function (obj) {

                //    //}
                //});
                //}
            });


        } else {

        }
    });
</script>

<style>
    h1 {
        text-align: center;
    }
</style>
