﻿@model SAP_MAT_SETUP.Database.T_CUST_SOLD_TO

@{
    ViewBag.Title = "Editsoldto";
}
@Html.Hidden("updateSoldto", @Url.Action("updateSoldto", "Customer"))
@Html.Hidden("ViewData", @Url.Action("SoldTo", "Customer"))
@Html.HiddenFor(model => model.Id)

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Edit Sold To</h1>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Id Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustID_SOLD_TO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustID_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer SAP Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustSAP_SOLD_TO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustSAP_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Description:</label>
                            <span>
                                @Html.EditorFor(model => model.CustomerDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustomerDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Branch Code:</label>
                            <span>
                                @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Branch Description:</label>
                            <span>
                                @Html.EditorFor(model => model.BranchDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Channel:</label>
                            <span>
                                @Html.EditorFor(model => model.Channel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Channel, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Division:</label>
                            <span>
                                @Html.EditorFor(model => model.Division, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Export Customer:</label>
                            <span>
                                @Html.EditorFor(model => model.ExportCust, new { htmlAttributes = new { @class = "form-control", @style = "float: right;" } })
                                @Html.ValidationMessageFor(model => model.ExportCust, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-success btn-lg" onclick="updateSoldto()" />
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
</div>

<script>
    function updateSoldto() {
        var urlAction = $('#updateSoldto').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Id: $('#Id').val(),
                CustID_SOLD_TO: $('#CustID_SOLD_TO').val(),
                CustSAP_SOLD_TO: $('#CustSAP_SOLD_TO').val(),
                CustomerDesc: $('#CustomerDesc').val(),
                BranchCode: $('#BranchCode').val(),
                BranchDesc: $('#BranchDesc').val(),
                Channel: $('#Channel').val(),
                Division: $('#Division').val(),
                ExportCust: $('#ExportCust').val(),
            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;

            }
        });
    }
</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }
</style>




