﻿@model SAP_MAT_SETUP.Database.T_CUST_SHIP_TO_BY_CUSTID

@{
    ViewBag.Title = "Edit Ship To";
}

@Html.Hidden("updateShipto", @Url.Action("updateShipto", "Customer"))
@Html.Hidden("ViewData", @Url.Action("ShipTo", "Customer"))
@Html.HiddenFor(model => model.DockCode)


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Edit Ship To</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Id Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.DockCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.DockCode, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer SAP Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustSAP_SOLD_TO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustSAP_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-success btn-lg" onclick="updateShipto()" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>


<script>
    function updateShipto() {
        var urlAction = $('#updateShipto').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {

                DockCode: $('#DockCode').val(),
                CustSAP_SOLD_TO: $('#CustSAP_SOLD_TO').val(),

            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;


            }
        });
    }
</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }
</style>
