﻿@model SAP_MAT_SETUP.Database.T_UPLOAD_SO_TO_SAP

@{
    ViewBag.Title = "EditMds";
}

@Html.Hidden("updateMds", @Url.Action("updateMds", "Customer"))
@Html.Hidden("ViewData", @Url.Action("Mdstosap", "Customer"))
@Html.HiddenFor(model => model.Id)


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Edit MDS TO SAP</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Id:</label>
                            <span>
                                @Html.EditorFor(model => model.CUST_ID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CUST_ID, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Data Type:</label>
                            <span>
                                @Html.EditorFor(model => model.DATATYPE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATATYPE, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Name Group:</label>
                            <span>
                                @Html.EditorFor(model => model.CUSTNAME_GROUP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CUSTNAME_GROUP, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Plant Code:</label>
                            <span>
                                @Html.EditorFor(model => model.PlantCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PlantCode, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Due Time:</label>
                            <span>
                                @Html.EditorFor(model => model.DueTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DueTime, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-success btn-lg" onclick="updateMds()" />
                </div>
            </div>
        </div>
    </div>
    <br />

</div>

<script>
    function updateMds() {
        var urlAction = $('#updateMds').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Id: $('#Id').val(),
                CUST_ID: $('#CUST_ID').val(),
                DATATYPE: $('#DATATYPE').val(),
                CUSTNAME_GROUP: $('#CUSTNAME_GROUP').val(),
                PlantCode: $('#PlantCode').val(),
                DueTime: $('#DueTime').val(),

            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;

            }
        });
    }
</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }
</style>


