﻿
@{
    ViewBag.Title = "Export data To Prones";
}
@Html.Hidden("ExcelItemMaster", @Url.Action("ExcelItemMaster", "Customer"))
@Html.Hidden("ExcelProcessMaster", @Url.Action("ExcelProcessMaster", "Customer"))
@Html.Hidden("ExcelCustomerItemMaster", @Url.Action("ExcelCustomerItemMaster", "Customer"))
@Html.Hidden("ExcelBOMMaster", @Url.Action("ExcelBOMMaster", "Customer"))
@Html.Hidden("Download", @Url.Action("Download", "Customer"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Export Data To Prones</h1>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <label>Data:</label>
                            <span>
                                @Html.DropDownList("DATA",
                                              new SelectList(ViewBag.name, "iValue", "iKey"), "Choose Data",
                                                     new { @class = "form-control", @style = "float:right;" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <label>Model:</label>
                            <span>
                                @Html.DropDownList("Model",
                                              new SelectList(ViewBag.model, "iValue", "iKey"), "Choose Model",
                                                     new { @class = "form-control", @style = "float:right;" })
                                
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" onclick="checkData()">EXPORT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function checkData() {
        var data = $('#DATA').val();
        console.log(data);
        if (data == 'V_SAPMat_2_Prones__ItemMaster') {
            ExcelItemMaster();
        }
        else if (data == 'V_SAPMat_2_Prones__ProcessMaster') {
            ExcelProcessMaster();
        }
        else if (data == 'V_SAPMat_2_Prones__CustomerItemMaster') {
            ExcelCustomerItemMaster();
        }
        else if (data == 'V_SAPMat_2_Prones_BOMMaster') {
            ExcelBOMMaster();
        }
    }

    function ExcelItemMaster() {
        var urlAction = $('#ExcelItemMaster').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            data: {
                Model: $('#Model').val(),
            },
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }

    function ExcelProcessMaster() {
        var urlAction = $('#ExcelProcessMaster').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            data: {
                Model: $('#Model').val(),
            },
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }

    function ExcelCustomerItemMaster() {
        var urlAction = $('#ExcelCustomerItemMaster').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            data: {
                Model: $('#Model').val(),
            },
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }

    function ExcelBOMMaster() {
        var urlAction = $('#ExcelBOMMaster').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            data: {
                Model: $('#Model').val(),
            },
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }
    
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>