﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_UPLOAD_SO_TO_SAP>
@{
    ViewBag.Title = "Ship To";
}

@Html.Hidden("DelMDS", @Url.Action("DelMDS", "Customer"))
@Html.Hidden("ViewData", @Url.Action("AddMds", "Customer"))

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>*@
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>MDS TO SAP</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()"> Add MDS</button>
        <h1></h1>
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer Id</th>
                        <th>Data Type</th>
                        <th>Customer Name Group</th>
                        <th>Plant Code</th>
                        <th>Due Time</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.CUST_ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.DATATYPE)</td>
                            <td>@Html.DisplayFor(modelItem => item.CUSTNAME_GROUP)</td>
                            <td>@Html.DisplayFor(modelItem => item.PlantCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.DueTime)</td>
                            <td>@Html.ActionLink("Edit", "EditMds", "Customer", new { id = item.Id }, null)</td>
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.Id">DELETE</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        table = $('#tbdisplay').DataTable();

    });
    $('#tbdisplay').on("click", "button", function () {

        if (confirm('Do you want to delete this Ship To ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);
            var urlAction = $('#DelMDS').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>

