﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_CUST_SHIP_TO_BY_CUSTID>
@{
    ViewBag.Title = "Ship To";
}
@Html.Hidden("DelShipTo", @Url.Action("DelShipTo", "Customer"))
@Html.Hidden("insLog", @Url.Action("insLog", "Customer"))
@Html.Hidden("ViewData", @Url.Action("AddPlant", "Home"))
@Html.Hidden("ExcelShipTo", @Url.Action("ExcelShipTo", "Customer"))
@Html.Hidden("Download", @Url.Action("Download", "Customer"))

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>




<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>SHIP TO</h1>
        <br />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Ship To</button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" onclick="ExcelShipTo()">export to excel</button>
            </div>
        </div>



        <h1></h1>
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Dock Code</th>
                        <th>Customer SAP Ship To</th>
                        <th>Stroage Location</th>
                        @*<th>Edit</th>*@
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DockCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustSAP_SOLD_TO)</td>
                            <td>@Html.DisplayFor(modelItem => item.Str_Loc)</td>
                            @*<td>@Html.ActionLink("Edit", "Editshipto", "Customer", new { id = item.DockCode }, null)</td>*@
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.DockCode">DELETE</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        table = $('#tbdisplay').DataTable();

    });

    function ExcelShipTo() {
        var urlAction = $('#ExcelShipTo').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
           @* data: {
                Model: $('#Model').val(),
            },*@
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }

    $('#tbdisplay').on("click", "button", function () {

        if (confirm('Do you want to delete this Ship To ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var dockcode = $(this).val();
            console.log(dockcode);

            var urlAction = $('#insLog').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    Old: dockcode,

                },
                success: function (obj) {
                    var urlAction = $('#DelShipTo').val();
                    $.ajax({
                        url: urlAction,
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            Dockcode: dockcode,

                        },
                        success: function (obj) {

                        }
                    });
                }
            });


        } else {

        }
    });
    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>

