﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_CUST_SOLD_TO>
@{
    ViewBag.Title = "Sold To";
}

@Html.Hidden("DelSoldTo", @Url.Action("DelSoldTo", "Customer"))
@Html.Hidden("ViewData", @Url.Action("AddSoldTo", "Customer"))
@Html.Hidden("ExcelSoldTo", @Url.Action("ExcelSoldTo", "Customer"))
@Html.Hidden("Download", @Url.Action("Download", "Customer"))

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>*@

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>


<style>
    #tbdisplay td, #tbdisplay th {
        white-space: nowrap;
    }
</style>
<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>SOLD TO</h1>
        <br />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Sold To</button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" onclick="ExcelSoldTo()">export to excel</button>
            </div>
        </div>
        <h1></h1>
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer Id Sold To</th>
                        <th>Customer SAP Sold To</th>
                        <th>Customer Description</th>
                        <th>Branch Code</th>
                        <th>Branch Description</th>
                        <th>Channel</th>
                        <th>Division</th>
                        <th>Export Customer</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustID_SOLD_TO)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustSAP_SOLD_TO)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustomerDesc)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchDesc)</td>
                            <td>@Html.DisplayFor(modelItem => item.Channel)</td>
                            <td>@Html.DisplayFor(modelItem => item.Division)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExportCust)</td>
                            <td>@Html.ActionLink("Edit", "Editsoldto", "Customer", new { id = item.Id }, null)</td>
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.Id">DELETE</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
       table = $('#tbdisplay').DataTable();
    });

    function ExcelSoldTo() {
        var urlAction = $('#ExcelSoldTo').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
           @* data: {
            Model: $('#Model').val(),
            },*@
        cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
    });
    }

    $('#tbdisplay').on("click", "button", function () {

        if (confirm('Do you want to delete this Sold To ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();

            var urlAction = $('#DelSoldTo').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>

