﻿@using SAP_MAT_SETUP.Models
@using SAP_MAT_SETUP.CustomAuthentication
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Material SetUp</title>

    <link href="~/Content/bootstrap.css?v=@DateTime.Now.ToString("yyMMddHHmmssfff")" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css?v=@DateTime.Now.ToString("yyMMddHHmmssfff")" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js?v=@DateTime.Now.ToString("yyMMddHHmmssfff")"></script>
    <link href="~/Content/Site.css?v=@DateTime.Now.ToString("yyMMddHHmmssfff")" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js?v=@DateTime.Now.ToString("yyMMddHHmmssfff")"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    <style>
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Material Setup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                            <a class="dropdown-item" href="@Url.Action("Index","Account")">Main menu</a>
                            <a class="dropdown-item" href="@Url.Action("UserLog","Account")">
                                Revise History
                            </a>
                        </div>
                    </li>


                    <li class="nav-item @Html.IsActive("Display", "Home")">
                        <a class="nav-link" href="@Url.Action("Display","Home")">NG List</a>
                    </li>
                    @if (User.IsInRole("SaleAdmin,MgrSaleAdmin"))
                    {
                        <li class="nav-item @Html.IsActive("MTS", "Sale")">
                            <a class="nav-link" href="@Url.Action("MTS","Sale")">Master To SAP</a>
                        </li>
                        <li class="nav-item @Html.IsActive("AddCFPricePack", "Sale")">
                            <a class="nav-link" href="@Url.Action("AddCFPricePack","Sale")">Confirm Price No/Package</a>
                        </li>
                    }
                    @if (User.IsInRole("PPC"))
                    {
                        <li class="nav-item @Html.IsActive("RptGroup", "PPC")">
                            <a class="nav-link" href="@Url.Action("RptGroup","PPC")">Group Master Stock</a>
                        </li>

                        @*<li class="nav-item @Html.IsActive("Purchase", "PPC")">
                            <a class="nav-link" href="@Url.Action("Purchase","PPC")">Purchase</a>
                        </li>*@

                    }
                    @if (User.IsInRole("MK,MgrMK"))
                    {
                        <li class="nav-item @Html.IsActive("AddCFPricePack", "Sale")">
                            <a class="nav-link" href="@Url.Action("AddCFPricePack","Sale")">Confirm Price No/Package</a>
                        </li>
                        <li class="nav-item @Html.IsActive("MatG", "Home")">
                            <a class="nav-link" href="@Url.Action("MatG","Home")">Part Code</a>
                        </li>
                    }

                    @if (User.IsInRole("CS"))
                    {
                        <li class="nav-item @Html.IsActive("Cust4MDS", "Customer")">
                            <a class="nav-link" href="@Url.Action("Cust4MDS","Customer")">Cust4MDS</a>
                        </li>
                        <li class="nav-item @Html.IsActive("ExportToPrones", "Customer")">
                            <a class="nav-link" href="@Url.Action("ExportToPrones","Customer")">Export To Prones</a>
                        </li>
                        <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspocost_purp="true" aria-expanded="false">About Master</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="@Url.Action("CustMS","Home")">Customer Master</a>-->
                        @* <a class="dropdown-item" href="@Url.Action("Model","Home")">Model</a>*@
                        <!--<a class="dropdown-item" href="@Url.Action("MoldOwner","Home")">Mold Owner</a>
                <a class="dropdown-item" href="@Url.Action("PName","Home")">Part Name</a>
            </div>
        </li>-->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MDS TO SAP</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("SoldTo","Customer")">Sold To</a>
                                <a class="dropdown-item" href="@Url.Action("ShipTo","Customer")">Ship To</a>
                                <a class="dropdown-item" href="@Url.Action("Mdstosap","Customer")">MDS to SAP</a>
                            </div>
                        </li>


                    }

                    @if (User.IsInRole("SaleAdmin,MgrSaleAdmin,CS"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Master</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @*<a class="dropdown-item" href="@Url.Action("CustMS", "Home")">Customer Master</a>*@
                                @* <a class="dropdown-item" href="@Url.Action("Model", "Sale")">Model</a>*@
                                <a class="dropdown-item" href="@Url.Action("ShipTo", "Sale")">Ship To</a>
                                @*<a class="dropdown-item" href="@Url.Action("PName", "Home")">Part Name</a>*@
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("LG"))
                    {
                        @*<li class="nav-item @Html.IsActive("PKSelling", "Home")">
                <a class="nav-link" href="@Url.Action("PKSelling","Home")">Customer Package</a>
            </li>*@
                        <li class="nav-item @Html.IsActive("IMCT_PART_INPUT_QTY", "Logistic")">
                            <a class="nav-link" href="@Url.Action("IMCT_PART_INPUT_QTY","Logistic")">INPUT QTY</a>
                        </li>
                    }
                </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item @Html.IsActive("Index", "Account")">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var identity = ((CustomPrincipal)HttpContext.Current.User);

                                <a class="nav-link" href="@Url.Action("Index","Account")"> @Html.Label(string.Format("Welcome {0}", identity.FirstName))</a>

                            }
                        </li>
                        <li class="nav-item @Html.IsActive("LogOut", "Account")">
                            <a class="nav-link" href="@Url.Action("LogOut","Account")">Log out</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item @Html.IsActive("Registration", "Account")">
                            <a class="nav-link" href="@Url.Action("Registration","Account")">Registration</a>
                        </li>
                        <li class="nav-item @Html.IsActive("Login", "Account")">
                            <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - THAI KOITO COMPANY LIMITED</p>
        </footer>
    </div>

</body>
</html>
