﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAP_MAT_SETUP>

@{
    ViewBag.Title = "Approve";
}

@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("updateApproveCO", @Url.Action("updateApproveCO", "Cost"))

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<style>
    #approveMKtable td, #approveMKtable th {
        white-space: nowrap;
    }

    #approveCStable td, #approveCStable th {
        white-space: nowrap;
    }
</style>
@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
*@

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Approve</h1>
        <br />

        <div class="row">
            @if (User.IsInRole("CO,PU"))
            {
                <table id="approveCOtable" class="display select table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" value="1" id="checkAll"></th>
                            <th>Material No.</th>
                            <th>Customer Part No.</th>
                            <th>Customer Part Name</th>
                            <th>STD</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="checkBox" value="@item.I_RegID" /></td>
                                <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.C_CustPNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.M_CustPName)</td>
                                <td>@Html.DisplayFor(modelItem => item.C_STD)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-success" id="btnCO" onclick="updateApproveCO()">Approve</button>
                </div>
            }
        </div>

    </div>
</div>

<script>
    var param = [];
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/home/delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });

        $('#btnCO').click(function (e) {
            @*var param = [];*@
            $('input:checkbox:checked', '#approveCOtable').each(function () {
                //alert($(this).prop('value'));
                //param.push($(this).prop('value'));
                var objlist = {
                    iKey: $(this).prop('value'),
                    iValue: '',
                }
                param.push(objlist);
            });
            var urlAction = $('#updateApproveCO').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: { listkey: param },
                success: function (obj) {
                    console.log(param);
                    alert("Approve Complete!!");
                    var urlAction = $('#ViewData').val();
                    window.location.href = urlAction;
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    });

</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }

    th, td {
        border-color: #000;
    }

    approveMKtable {
        display: inline;
    }
</style>