﻿@model SAP_MAT_SETUP.Models.Costing

@{
    ViewBag.Title = "Edit Material - Costing";
}
@Html.Hidden("updateCosting", @Url.Action("updateCosting", "Cost"))
@Html.HiddenFor(model => model.I_RegID)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


<form>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <br />
            <h1>MATERIAL SETUP</h1>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col">RegID</th>
                        <th style="text-align:center" scope="col">Model</th>
                        <th style="text-align:center" scope="col">Lineoff</th>
                        <th style="text-align:center" scope="col">Material No.</th>
                        <th style="text-align:center" scope="col">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">@Model.I_RegID</td>
                        <td style="text-align:center">@Model.M_Model</td>
                        <td style="text-align:center">@Model.M_Lineoff</td>
                        <td style="text-align:center">@Model.M_MatNo</td>
                        <td style="text-align:center">@Model.M_Remark</td>
                    </tr>
                </tbody>
            </table>
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <label>STD:</label>
                                    <span>
                                        @Html.EditorFor(model => model.C_STD, new { htmlAttributes = new { @class = "form-control", @maxlength = "7", @required = true } })
                                        @Html.ValidationMessageFor(model => model.C_STD, "", new { @class = "text-danger" })
                                    </span>

                                </div>
                            </div>
                            <br />
                      
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <br />
                                    <form>
                                        <input type="checkbox" id="Other" name="Other" value="other" >
                                        <label for="vehicle1" >Other</label><br>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="reson" style="display:none"/>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <input id="stackedCheck1" class="form-check-input" type="checkbox" data-toggle="toggle" data-on="Final" data-off="Estimate" data-size="sm">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="row"></div>
                        <button type="button" id="btnUpdate" class="btn btn-success btn-lg" onclick="updateCosting()">Update</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-lg" onclick="OpenPage()">Cancel</button>
                    </div>
                </div>
                <br />

            }
        </div>

    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#stackedCheck1').change(function () {
            @* $('#console-event').html('Toggle: ' + $(this).prop('checked')) *@
            console.log($(this).prop('checked'));
        })
    })

    @*function validateForm() {
        var x = $('#MatTKCNo').val();
        var y = $('#C_STD').val();
        console.log(x);
        if (x == "" || y == "") {
            alert("Please Input Field!!");
            return false;
        } else {
            updateCosting();
            OpenPage();
        }
    }*@
    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    function updateCosting() {
        var urlAction = $('#updateCosting').val();
        if (confirm("คุณต้องการบันทึกการแก้ไขนี้" + "\n" + "จริงหรือไม่?")) {
            document.body.style.cursor = 'wait';
            document.getElementById("btnUpdate").disabled = true;

            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    I_RegID: $('#I_RegID').val(),
                    C_STD: $('#C_STD').val(),
                    STD_Status: $('#stackedCheck1').prop('checked'),
                    flag01: $('#reson').val(),
                },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;
                    console.log(data);

                    if (data.isValid == "true") {
                        alert("Update Complete!!");
                        setTimeout(function () {
                            window.location.href = urlAction;
                        }, 2000)
                    }

                    else {
                        alert(data.message);
                    }
                },
                error: function (data, textStatus, errorThrown) {
                    //console.log("Error");
                    //console.log(obj);
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;
                    var err = data.message;
                    alert("Error: " + err);
                },
            });
        }

    }

    $(document).ready(function () {
        $("input[type='checkbox']").change(function () {
            if ($(this).val() == "other") {
                $("#reson").show();
            }
            else {
                $("#reson").hide();
            }
        });
    });
</script>

<style>
    h1 {
        text-align: center;
    }

   /* label {
        float: left;
    }*/

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

   /* input {
        width: 100%;
        float: right;
    }*/

    th {
        background: #D5D3D3;
    }
</style>
