﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_Cust_MS

@{
    ViewBag.Title = "Add Customer Master";
}

@Html.Hidden("insCustMS", @Url.Action("insCustMS", "Home"))
@Html.Hidden("ViewData", @Url.Action("CustMS", "Home"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Customer Master</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Code:</label>
                            <span>
                                @Html.EditorFor(model => model.CustCD, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @required = true } })
                                @Html.ValidationMessageFor(model => model.CustCD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer Name:</label>
                            <span>
                                @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" onclick="insCustMS()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>
    function insCustMS() {
        var urlAction = $('#insCustMS').val();
        var param = {
            CustCD: $("#CustCD").val(),
            CustName: $("#CustName").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Customer Master Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>