﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_Part_Name

@{
    ViewBag.Title = "Add Part Code";
}
@Html.Hidden("insMatG", @Url.Action("insMatG", "Home"))
@Html.Hidden("ViewData", @Url.Action("MatG", "Home"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Part Code</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Part Name Code:</label>
                            <span>
                                @Html.EditorFor(model => model.PartNameCD, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.PartNameCD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Part Name Description:</label>
                            <span>
                                @Html.EditorFor(model => model.PartNameDesc, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.PartNameDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" onclick="insMatG()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>

    function insMatG() {
        var urlAction = $('#insMatG').val();

        var param = {
            PartNameCD: $("#PartNameCD").val(),
            PartNameDesc: $("#PartNameDesc").val(),

        };

        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Material Group Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>