﻿@model SAP_MAT_SETUP.Database.T_CUST_SHIP_TO_BY_CUSTID

@{
    ViewBag.Title = "AddPlant";
}

@Html.Hidden("insPlant", @Url.Action("insPlant", "Home"))
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Ship To (Plant)</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Dock Code:</label>
                            <span>
                                @Html.EditorFor(model => model.DockCode, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = true } })
                                @Html.ValidationMessageFor(model => model.DockCode, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer Sold To:</label>
                            <span>
                                @Html.EditorFor(model => model.CustSAP_SOLD_TO, new { htmlAttributes = new { @class = "form-control", @maxlength = "7", @required = true } })
                                @Html.ValidationMessageFor(model => model.CustSAP_SOLD_TO, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Stroage Location:</label>
                            <span>

                                @Html.DropDownList("Str_Loc",
                                     new SelectList(ViewBag.strLoc, "iValue", "iKey"), "Choose Model",
                                            new { @class = "form-control", @style = "float:right;", @required = true })
                                @Html.ValidationMessageFor(model => model.Str_Loc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" onclick="insPlant()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>
    function insPlant() {
        var urlAction = $('#insPlant').val();
        var param = {
            DockCode: $("#DockCode").val(),
            CustSAP_SOLD_TO: $("#CustSAP_SOLD_TO").val(),
            Str_Loc: $("#Str_Loc").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add Plant Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>