﻿@model IEnumerable<SAP_MAT_SETUP.Database.V_SAP_MAT_SETUP_LAST>

@{
    ViewBag.Title = "Approve";
}

@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("updateApproveMK", @Url.Action("updateApproveMK", "Home"))
@Html.Hidden("Download", @Url.Action("Download", "Home"))
@Html.Hidden("DownloadExcel", @Url.Action("DownloadExcel", "Home"))

@*<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>*@
@*<script src="~/Scripts/popper.min.js"></script>*@

<style>
    #approveMKtable td, #approveMKtable th {
         white-space: nowrap;
    }

    #approveCStable td, #approveCStable th {
        white-space: nowrap;
    }
   
    table {
        table-layout: fixed;
        width: 500px;
    }
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }

    th, td {
        border-color: #000;
    }

    approveMKtable {
        display: inline;
    }

</style>
@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@


<div class="card bg-light text-dark">
    <div class="card-body">

        <h1>Approve</h1>



        @if (User.IsInRole("MK,MgrMK"))
        {

    <div class="row">
        <div class="col-md-6">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" onkeyup="myFunction()" />
        </div>
        <div class="col-md-4">
            <br>
            @{var url = @Url.Action("Final", "Home"); }
            <input type="button" value="Approve Final" style="float:right" class="btn btn-outline-dark btn-lg" onclick="location.href =' @url'" /> 
        </div>
        <div class="col-md-2">
            <br>
            <button class="btn btn-outline-info btn-lg" onclick="DownloadExcel()">download</button>
        </div>
    </div>

            <br />
                }

        <div class="row">

            @if (User.IsInRole("MK,MgrMK"))
            {
                <div class="table-responsive">

                    <table id="approveMKtable"class="table table-bordered table-hover table-striped wrap nowrap" style="width:100%;display:block"cellpadding="1">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" value="1" id="checkAll"></th>
                                <th>Reg ID</th>
                                <th>Model</th>
                                <th>Lineoff</th>
                                <th>Material No.</th>
                                <th>Customer Part No.</th>
                                <th>Customer Part Name</th>
                                <th>Sell Price</th>
                                <th>Price Status</th>
                                <th>ST Effect</th>
                                <th>Material Group</th>
                                <th>Part Name</th>
                                <th>Mold Owner</th>
                                <th>Light Type</th>
                                <th>Part Side</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody id="mytable">
                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td><input id="@item.I_RegID" type="checkbox" class="checkBox" value="@item.I_RegID" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.I_RegID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.M_Model)</td>
                                    <td>@Html.DisplayFor(modelItem => item.M_Lineoff)</td>
                                    <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.C_CustPNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.M_CustPName)</td>
                                    <td>@Html.ValueFor(modelItem => item.M_SellPrice, "{0:0.000}")</td>
                                    @if (item.SellPrice_Status == "true")
                                    {
                                        string getStatus = "Final";
                                        <td>@getStatus</td>
                                    }
                                    @if (item.SellPrice_Status == "false")
                                    {
                                        string getStatus = "Estimate";
                                        <td>@getStatus</td>
                                    }

                                    <td>@Html.ValueFor(modelItem => item.M_ST_Effect, "{0:dd/MM/yyyy}")</td>
                                    <td>@Html.DisplayFor(modelItem => item.A_Mat_Group)</td>
                                    <td>@Html.DisplayFor(modelItem => item.A_Part_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.A_Mold_Owner)</td>
                                    <td>@Html.DisplayFor(modelItem => item.A_Light_Type)</td>
                                    <td>@Html.DisplayFor(modelItem => item.A_Part_Side)</td>
                                    <td>@Html.DisplayFor(modelItem => item.M_Remark)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />

                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-success" id="btnMK" @*onclick="updateApproveMK()"*@>Approve</button>
                </div>
            }

        </div>

    </div>
</div>

<script>

    //$(document).ready(function () {
    //    table = $('#approveMKtable').DataTable({
    //        'ordering': false
    //});

    //});
    //function updateApproveMK() {

    //}
    var param = [];
    $(document).ready(function () {


        $("#txtSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#mytable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/home/delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });

        $('#btnMK').click(function (e) {
            var param = [];
            $('input:checkbox:checked', '#approveMKtable').each(function () {
                //alert($(this).prop('value'));
                //param.push($(this).prop('value'));
                var objlist = {
                    iKey: $(this).prop('value'),
                    iValue: '',
                }
                param.push(objlist);
            });
            console.log(param);
            var urlAction = $('#updateApproveMK').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: { listkey: param },
                success: function (obj) {
                    console.log(param);
                    alert("Approve Complete!!");
                    var urlAction = $('#ViewData').val();
                    window.location.href = urlAction;
                }
            });
        });
    });

    function DownloadExcel() {
        var urlAction = $('#DownloadExcel').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            data: {

            },
            cache: false,
            success: function (res) {
                console.log(res);
                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }



</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }

    th, td {
        border-color: #000;
    }

    approveMKtable {
        display: inline;
    }
</style>