﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAPMAT_Cust_MS>

@{
    ViewBag.Title = "CustMS";
}
@Html.Hidden("DelCustMS", @Url.Action("DelCustMS", "Home"))
@Html.Hidden("ViewData", @Url.Action("AddCustMS", "Home"))


<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>


<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Customer Master</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Ship To</button>
        <h1></h1>
        <div class="table-responsive">
            <table id="CustMS" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CustCD)</th>
                        <th>@Html.DisplayNameFor(model => model.CustName)</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CustCD)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustName)</td>
                            <td>@Html.ActionLink("Edit", "EditCustMS", new { id = item.CustCD })</td>
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.CustCD">DELETE</button></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        table = $('#CustMS').DataTable();

    });

    $('#CustMS').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Customer Material ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var custcd = $(this).val();
            console.log(custcd);

            var urlAction = $('#DelCustMS').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: custcd,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1 {
        text-align: center;
    }
</style>
