﻿@model SAP_MAT_SETUP.Models.CustomerService

@{
    ViewBag.Title = "Edit Material - Customer Service";
}

@Html.Hidden("getCustomers", @Url.Action("getCustomers", "Home"))
@Html.Hidden("getKeyCustomer", @Url.Action("getKeyCustomer", "Home"))
@Html.Hidden("updKeyCustomer", @Url.Action("updKeyCustomer", "Home"))
@Html.Hidden("getNameCustomer", @Url.Action("getNameCustomer", "Home"))
@Html.Hidden("getChannel", @Url.Action("getChannel", "Home"))
@Html.Hidden("getDivision", @Url.Action("getDivision", "Home"))

@Html.Hidden("updateCustomer", @Url.Action("updateCustomer", "Home"))
@Html.HiddenFor(model => model.I_RegID)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
<form>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <h1>Material Setup</h1>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col">RegID</th>
                        <th style="text-align:center" scope="col">Model</th>
                        <th style="text-align:center" scope="col">Lineoff</th>
                        <th style="text-align:center" scope="col">Material No.</th>
                        @*<th style="text-align:center" scope="col">Material Description</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">@Model.I_RegID</td>
                        <td style="text-align:center">@Model.M_Model</td>
                        <td style="text-align:center">@Model.M_Lineoff</td>
                        <td style="text-align:center">@Model.M_MatNo</td>
                        @*<td style="text-align:center">@Model.M_MatDesc</td>*@
                    </tr>
                </tbody>
            </table>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <label>Customer ID:</label>
                                    <span>
                                        
                                        @Html.DropDownList("M_CustID",
                                          new SelectList(ViewBag.Customer, "iKey", "iValue"), "Choose Customer ID",
                                                 new { @class = "form-control", @onchange = "getKeyCustomer(),getNameCustomer(),getChannel(),getDivision()", @style = "float:right;", @required = true })
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-10">
                                    <label>Customer Name:</label>
                                    <span>
                                        @Html.EditorFor(model => model.M_CustName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.M_CustName, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <label>Sold To:</label>
                                    <span>
                                        @Html.EditorFor(model => model.M_SoldTo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.M_SoldTo, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-10">
                                    <label>Channel:</label>
                                    <span>
                                        @Html.EditorFor(model => model.M_Channel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.M_Channel, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <label>Division:</label>
                                    <span>
                                        @Html.EditorFor(model => model.M_Division, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.M_Division, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-10">
                                    <label>Ship To:</label>
                                    <span>
                                        @Html.EditorFor(model => model.C_ShipTo, new { htmlAttributes = new { @class = "form-control", @maxlength = "7", @required = true } })
                                        @Html.ValidationMessageFor(model => model.C_ShipTo, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                            <span id="text-counter3">7</span> character(s) left.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="row"></div>
                        <button type="submit" id="button" class="btn btn-success btn-lg" onclick="validateForm()">Update</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-lg" onclick="OpenPage()">Cancel</button>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function getDivision() {
        var Customer = $('#M_CustID').val();
        var urlAction = $('#getDivision').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Customers: Customer
            },
            success: function (obj) {
                console.log(obj.result);
                $('#M_Division').val(obj.result);

            }
        });
    }


    function getKeyCustomer() {
        var Customer = $('#M_CustID').val();
        var urlAction = $('#getKeyCustomer').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Customers: Customer
            },
            success: function (obj) {
                console.log(obj.result);
                $('#M_SoldTo').val(obj.result);

            }
        });
    }

    function getNameCustomer() {
        var Customer = $('#M_CustID').val();
        var urlAction = $('#getNameCustomer').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Customers: Customer
            },
            success: function (obj) {
                console.log(obj.result);
                $('#M_CustName').val(obj.result);

            }
        });
    }

    function getChannel() {
        var Customer = $('#M_CustID').val();
        var urlAction = $('#getChannel').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Customers: Customer
            },
            success: function (obj) {
                console.log(obj.result);
                $('#M_Channel').val(obj.result);

            }
        });
    }

    function getDivision() {
        var Customer = $('#M_CustID').val();
        var urlAction = $('#getDivision').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Customers: Customer
            },
            success: function (obj) {
                console.log(obj.result);
                $('#M_Division').val(obj.result);

            }
        });
    }

    function validateForm() {

        var b = $('#C_ShipTo').val();

        if (b == "") {
            alert("Please Input Field!!");
            return false;
        } else {
            updateCustomer();

        }
    }

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    function updateCustomer() {
        var urlAction = $('#updateCustomer').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                I_RegID: $('#I_RegID').val(),
                M_CustID: $('#M_CustID').val(),
                M_CustName: $('#M_CustName').val(),
                M_SoldTo: $('#M_SoldTo').val(),
                M_Channel: $('#M_Channel').val(),
                M_Division: $('#M_Division').val(),
                C_ShipTo: $('#C_ShipTo').val(),
            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }

    $(function () {
        $('#C_ShipTo').keyup(function (e) {
            var max = 7;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter3').html(char);
        });
    });


</script>
<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
    th {
        background: #D5D3D3;
    }
</style>

