﻿@{
    ViewData["Title"] = "NG List";
}

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>*@


@Html.Hidden("getAllData", @Url.Action("getAllData", "Home"))
@Html.Hidden("ExcelDisplay", @Url.Action("ExcelDisplay", "Home"))
@Html.Hidden("Download", @Url.Action("Download", "Home"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>MATERIAL MASTER SETUP (NG)</h1>
        <br>
        <label style="color:red">***รายการจะแสดง Part ที่มีกำหนดก่อน Lineoff ไม่เกิน 62 วัน***</label>
        <div id="QueryData"></div> @*เรียกใช้ datatable*@

        <br />

        <button type="button" class="btn btn-danger" onclick="ExcelDisplay()">Export to Excel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
        getData('NG');
    });

    function getData(infos) {

        var urlAction = $('#getAllData').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                Type: infos,
            },
            success: function (obj) {
                console.log(obj.result);
                var Table = obj.result;
                var html = "";
                html += "<table id='tbdisplay' class='table table-hover table-bordered table-striped' style='width:100%'>";
                html += "<thead>";
                html += "<tr>";
                html += "<th scope='col'>RegID</th>";
                html += "<th scope='col'>Model</th>";
                html += "<th scope='col'>Lineoff</th>";
                html += "<th scope='col'>Material No.</th>";
                html += "<th scope='col'>Material Description</th>";
                html += "<th scope='col'>Status</th>";
                html += "</tr>";
                html += "</thead>";
                html += "<tbody>";
                if (Table.length > 0) {

                    for (var i = 0; i < Table.length; i++) {
                        html += "<tr>";
                        html += "<td>" + Table[i]["I_RegID"] + "</td>";
                        html += "<td>" + Table[i]["M_Model"] + "</td>";
                        html += "<td>" + Table[i]["M_Lineoff"] + "</td>";
                        html += "<td>" + Table[i]["M_MatNo"] + "</td>";
                        html += "<td>" + Table[i]["M_MatDesc"] + "</td>";
                        html += "<td>" + Table[i]["I_Status"] + "</td>";

                        html += "</tr>";

                    }

                    html += "</tbody>";
                    html += "</table>";
                    $("#QueryData").html(html);
                    $('#tbdisplay').DataTable();

                } else {
                    html = "";
                    $("#QueryData").html(html);
                }
            }
        });
    }

    function ExcelDisplay() {
        var urlAction = $('#ExcelDisplay').val();
        var urlDownload = $('#Download').val();
        $.ajax({
            type: "POST",
            url: urlAction,
            cache: false,
            success: function (res) {

                if (res.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    /**/
                    window.location.href = urlDownload + "/?file=" + res.fileName;
                    /**/
                } else {
                    alert("ไม่สามารถดาวน์โหลดข้อมูลได้ !!");
                }
            }
        });
    }


</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }
</style>
