﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_SELLING_TYPE_PACKAGE

@{
    ViewBag.Title = "Edit Customer Package";
}
@Html.Hidden("updatePKSelling", @Url.Action("updatePKSelling", "Home"))
@Html.Hidden("ViewData", @Url.Action("PKSelling", "Home"))
@Html.Hidden("getShipToName", @Url.Action("getShipToName", "Home"))

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Edit Customer Package</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Material No:</label>
                            <span>
                                @Html.EditorFor(model => model.M_MatNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.OEM, "", new { @class = "text-danger" })
                                @* @Html.DropDownList("M_MatNo",
                                    new SelectList(ViewBag.mat, "iValue", "iKey"), "Choose Material No",
                                           new { @class = "form-control", @style = "float:right;", @required = true })*@
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>OEM:</label>
                            <span>
                                @Html.EditorFor(model => model.OEM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OEM, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Part Center:</label>
                            <span>
                                @Html.EditorFor(model => model.Part_Center, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Part_Center, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Export:</label>
                            <span>
                                @Html.EditorFor(model => model.Export, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Export, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Component Export:</label>
                            <span>
                                @Html.EditorFor(model => model.ComExport, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ComExport, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />

    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-lg" onclick="updatePKSelling()">Update</button>
        </div>
    </div>
    <br />

</div>


<script>
    function updatePKSelling() {
        var urlAction = $('#updatePKSelling').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                M_MatNo: $("#M_MatNo").val(),
                OEM: $("#OEM").val(),
                Part_Center: $("#Part_Center").val(),
                Export: $("#Export").val(),
                ComExport: $("#ComExport").val(),
            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;

            }
        });
    }

    @*$("#M_MatNo").change(function () {

        var urlAction = $('#getShipToName').val();
        var MatNo = $("#M_MatNo").val();

        console.log(MatNo);
        $.ajax({
            url: urlAction,
            type: "POST",
            data: {
                M_MatNo: MatNo
            },
            success: function (obj) {
                console.log(obj);
                $("#ShipTo_Name").html('');
                $("#ShipTo_Name").append('<option>Choose Ship To Name</option>');
                $.each(obj.result, function (i, obj) {

                    $("#ShipTo_Name").append('<option value="' + obj.iValue + '">' + obj.iKey + '</option>');
                });
            }
        });
    });*@
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>