﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_Cust_MS

@{
    ViewBag.Title = "EditCustMS";
}

@Html.Hidden("updateCustMS", @Url.Action("updateCustMS", "Home"))
@Html.Hidden("ViewData", @Url.Action("CustMS", "Home"))
@Html.HiddenFor(model => model.CustCD)

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Edit Customer Master</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Customer Code:</label>
                            <span>
                                @Html.EditorFor(model => model.CustCD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.CustCD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Customer Id:</label>
                            <span>
                                @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-success btn-lg" onclick="updateCustMS()" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<script>
    function updateCustMS() {
        var urlAction = $('#updateCustMS').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {

                CustCD: $('#CustCD').val(),
                CustName: $('#CustName').val(),

            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;


            }
        });
    }
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
