﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_Part_Name

@{
    ViewBag.Title = "EditPartName";
}

@Html.Hidden("updatePName", @Url.Action("updatePName", "Home"))
@Html.Hidden("ViewData", @Url.Action("PName", "Home"))
@Html.HiddenFor(model => model.PartNameCD)

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Edit Molde Owner</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Mold Owner Code:</label>
                            <span>
                                @Html.EditorFor(model => model.PartNameCD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PartNameCD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label>Mold Owner Name:</label>
                            <span>
                                @Html.EditorFor(model => model.PartNameDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PartNameDesc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-success btn-lg" onclick="updatePName()" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<script>
    function updatePName() {
        var urlAction = $('#updatePName').val();

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {

                PartNameCD: $('#PartNameCD').val(),
                PartNameDesc: $('#PartNameDesc').val(),

            },
            success: function (obj) {
                console.log(obj);
                alert("Update Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;


            }
        });
    }
</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
