﻿@model SAP_MAT_SETUP.Models.Marketing

@{
    ViewBag.Title = "Edit Material - Marketing";

    List<SelectListItem> remark = new List<SelectListItem>();
    remark.Add(new SelectListItem
    {
        Text = "OEM",
        Value = "OEM"
    });
    remark.Add(new SelectListItem
    {
        Text = "Part Center",
        Value = "Part Center"
    });
    remark.Add(new SelectListItem
    {
        Text = "Export",
        Value = "Export"
    });
    remark.Add(new SelectListItem
    {
        Text = "Component Export (15 Digit)",
        Value = "Component Export"
    });
}

@Html.Hidden("updateMarketing", @Url.Action("updateMarketing", "Home"))
@Html.HiddenFor(model => model.I_RegID)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("SHP", @Url.Action("ShipToPlant", "Home"))
@Html.Hidden("SellPrice", @Url.Action("SellPriceCheck", "Home"))
@Html.Hidden("getModel", @Url.Action("getModel", "Home"))

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@


<form>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <br />
            <h1>MATERIAL SETUP</h1>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Customer:</label>
                                <span>
                                    @Html.DropDownList("CUSTOMER",
           new SelectList(ViewBag.cust, "iValue", "iKey"), "Choose Customer",
                  new { @class = "form-control", @style = "float:right;", @required = true })
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <label>Model:</label>
                                <span>
                                    @Html.DropDownList("M_Model",
         new SelectList(ViewBag.model, "iValue", "iKey"), "Choose Model",
                new { @class = "form-control", @style = "float:right;", @required = true })
                                    @* @Html.EditorFor(model => model.M_Model, new { htmlAttributes = new { @class = "form-control", @maxlength = "4" } })*@
                                    @Html.ValidationMessageFor(model => model.M_Model, "", new { @class = "text-danger" })
                                </span>
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                        <span id="text-counter2">4</span> character(s) left.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">

                                <label>Lineoff:</label>
                                <span>
                                    @Html.EditorFor(model => model.M_Lineoff, new { htmlAttributes = new { @class = "form-control", @maxlength = "7", placeholder = "YYYY-MM" } })
                                    @Html.ValidationMessageFor(model => model.M_Lineoff, "", new { @class = "text-danger" })
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">

                                <label>Material No.:</label>
                                <span>
                                    @Html.EditorFor(model => model.M_MatNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "11", placeholder = "xxxxx-xxxxx", @required = true } })
                                    @Html.ValidationMessageFor(model => model.M_MatNo, "", new { @class = "text-danger" })
                                </span>
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                        <span id="text-counter3">11</span> character(s) left.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />


            <div class="row">
                @*<div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">

                                    <label>TKC Customer Part No.:</label>
                                    <span>
                                        @Html.EditorFor(model => model.M_TKCCustPNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "25", @required = true } })
                                        @Html.ValidationMessageFor(model => model.M_TKCCustPNo, "", new { @class = "text-danger" })
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">

                                <label>Customer Part Name:</label>
                                <span>

                                    @Html.EditorFor(model => model.M_CustPName, new { htmlAttributes = new { @class = "form-control", @maxlength = "40", @required = true } })
                                    @*@Html.DropDownList("M_CustPName",
                                        new SelectList(ViewBag.Pname, "iValue", "iKey"), "Choose Customer Part Name",
                                               new { @class = "form-control", @style = "float:right;", @required = true })*@

                                    @Html.ValidationMessageFor(model => model.M_CustPName, "", new { @class = "text-danger" })
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">
                                <label>Customer Part No.:</label>
                                <span>
                                    @Html.EditorFor(model => model.C_CustPNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = true } })
                                    @Html.ValidationMessageFor(model => model.C_CustPNo, "", new { @class = "text-danger" })
                                </span>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Sell Price None Package:</label>
                                <span>
                                    @Html.EditorFor(model => model.M_SellPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "00.000", @maxlength = "8" } })
                                </span>
                                <div class="row">
                                    <div class="col-md-3">
                                        @{var getStatus = Model.SellPrice_Status;}
                                        @if (getStatus == "true")
                                        {
                                            <input id="getFirst" type="hidden" value="true" />
                                            <input id="stackedCheck1" class="form-check-input" type="checkbox" data-toggle="toggle" data-on="Estimate" data-off="Final" data-size="xs">
                                        }
                                        else
                                        {
                                            <input id="getFirst" type="hidden" value="false" />
                                            <input id="stackedCheck2" class="form-check-input" type="checkbox" data-toggle="toggle" data-on="Final" data-off="Estimate" data-size="xs">
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <div class="item">
                                                @* <input type="checkbox" id="conf" name="conf" value="confirm" onchange="checkboxEvent()" />*@
                                                @* <label class="checklabel" for="conf">ConfirmPriceNo.</label>*@

                                                @*@Html.ActionLink("Package/ConfirmPriceNo", "SellPriceCheck", "Home", new { id = Model.I_RegID, cust = Model.C_CustPNo, custN = Model.CUSTOMER })*@
                                                <button type="button" class="btn btn-link" onclick="OpenSellPrice()">Package/ConfirmPriceNo</button>
                                                @*@Html.ActionLink("ConfirmPriceNo", "SellPriceCheck", "Home", new { id = model.I_RegID }, null)*@
                                                @*<a href='@Url.Action("SellPriceCheck")' id="linky">ConfirmPriceNo.</a>*@
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.M_SellPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">

                                <label>ST Effect:</label>
                                <span>
                                    @Html.EditorFor(model => model.M_ST_Effect, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control ", @type = "date" } })


                                    @Html.ValidationMessageFor(model => model.M_ST_Effect, "", new { @class = "text-danger" })
                                </span>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Material Group:</label>
                                <span>
                                    @Html.DropDownList("A_Mat_Group",
                                          new SelectList(ViewBag.MatG, "iKey", "iValue"), "Choose Material Group",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })

                                    @*@Html.DropDownListFor(model => model.A_Mat_Group, MatGroup, "Select a Material Group", new { @class = "form-control", @style = "float:right;" })*@
                                </span>
                                @Html.ValidationMessageFor(model => model.A_Mat_Group, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">
                                <label>Part Code:</label>
                                <span>
                                    @Html.DropDownList("A_Part_Name",
                                new SelectList(ViewBag.partn, "iKey", "iValue"), "Choose Part Code",
                                       new { @class = "form-control", @style = "float:right;", @required = true })
                                    @*@Html.DropDownListFor(model => model.A_Part_Name, PartName, "Select a Part Name", new { @class = "form-control", @style = "float:right;" })*@
                                </span>
                                @Html.ValidationMessageFor(model => model.A_Part_Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">

                                <label>Mold Owner:</label>
                                <span>
                                    @Html.DropDownList("A_Mold_Owner",
                                          new SelectList(ViewBag.Mold, "iValue", "iKey"), "Choose Mold Owner",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                    @*@Html.EditorFor(model => model.A_Mold_Owner, new { htmlAttributes = new { @class = "form-control", @maxlength = "25", @required = true } })*@
                                    @Html.ValidationMessageFor(model => model.A_Mold_Owner, "", new { @class = "text-danger" })
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">
                                <label>Light Type:</label>
                                <span>
                                    @*@Html.DropDownListFor(model => model.A_Light_Type, LightType, "Select a Light Type", new { @class = "form-control", @style = "float:right;" })*@
                                    @Html.DropDownList("A_Light_Type",
                                          new SelectList(ViewBag.LightT, "iValue", "iKey"), "Choose Light Type",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                </span>
                                @Html.ValidationMessageFor(model => model.A_Light_Type, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Part Side:</label>
                                <span>
                                    @Html.DropDownList("A_Part_Side",
                                          new SelectList(ViewBag.Side, "iValue", "iKey"), "Choose Part Side",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                </span>
                                @Html.ValidationMessageFor(model => model.A_Part_Side, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-10">
                                <label>Division:</label>
                                <span>
                                    @Html.DropDownListFor(model => model.M_Remark, remark.OrderBy(x => x.Value), "Please Select", new { @class = "form-control", @required = true, @style = "float:right;" })

                                </span>
                                @*@Html.ValidationMessageFor(model => model.M_Remark, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label>Car Type:</label>
                                <span>
                                    @Html.DropDownList("Car_Type",
                                          new SelectList(ViewBag.CarType, "iValue", "iKey"), "Choose Car Type",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                </span>
                                @Html.ValidationMessageFor(model => model.A_Part_Side, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <button type="button" class="btn btn-primary btn-lg" onclick="OpenSHP()">Ship To</button>
                </div>
                <div class="col-md-2">
                    <div class="row"></div>
                    <button type="button" id="btnUpdate" class="btn btn-success btn-lg" onclick="validateForm()">Update</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-lg" onclick="OpenPage()">Cancel</button>
                </div>
            </div>
        </div>
        <br />
    </div>
</form>

<script>
    $(function () {
        $('#stackedCheck1').change(function () {
            @* $('#console-event').html('Toggle: ' + $(this).prop('checked')) *@
            console.log($(this).prop('checked'));
            console.log($('#getFirst').val());
        })
        $('#stackedCheck2').change(function () {
            @* $('#console-event').html('Toggle: ' + $(this).prop('checked')) *@
            var get = console.log($(this).prop('checked'));
            console.log($('#getFirst').val());
        })
    })

    $("#M_MatNo").keyup(function (e) {
        var key = String.fromCharCode(e.keyCode);
        var value = $(this).val();
        if (value.length == 5) $(this).val($(this).val() + '-');
    });

    jQuery('#M_Model').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#M_MatNo').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#M_MatDesc').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#M_TKCCustPNo').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#M_CustPName').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#C_CustPNo').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#M_Remark').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
    function OpenSHP() {
        var urlAction = $('#SHP').val();
        var RegID = $('#I_RegID').val();
        var cust = $('#C_CustPNo').val();
        var custN = $('#CUSTOMER').val()
        window.location.href = urlAction + "?RegId=" + RegID + "&Cust=" + cust + "&CustN=" + custN;
    }

    function OpenSellPrice() {
        var urlAction = $('#SellPrice').val();
        var RegID = $('#I_RegID').val();
        var cust = $('#C_CustPNo').val();
        var custN = $('#CUSTOMER').val()
        window.location.href = urlAction + "?RegId=" + RegID + "&Cust=" + cust + "&CustN=" + custN;
    }

    function checkboxEvent() {
        if (document.getElementById('conf').checked) {
            var link = $("#linky").attr("href");
            OpenWindow(link);
        }
    }

    function validateForm() {
        var c = $('#M_MatNo').val();
        var d = $('#M_MatDesc').val();
        var f = $('#M_CustPName').val();
        var i = $('#C_CustPNo').val();
        var j = $('#M_Remark').val();

        if (c == "" || d == "" || f == "" || i == "" || j == "") {
            alert("Please Input Field!!");
            return false;
        } else {
            console.log("else")
            updateMarketing();
        }
    }


    function updateMarketing() {
            @*var Customer = $('#CusT').val();*@
        var urlAction = $('#updateMarketing').val();
        var getdata = $('#stackedCheck1').prop('checked');
        if (getdata === null || getdata === undefined) {
            getdata = $('#stackedCheck2').prop('checked');
        };
        var con = confirm('คุณต้องการบันทึกการแก้ไขนี้' + '\n' +'จริงหรือไม่?')
        console.log(getdata);
        console.log(con);
        if (con === true) {
            document.body.style.cursor = 'wait';
            document.getElementById("btnUpdate").disabled = true;

            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    I_RegID: $("#I_RegID").val(),
                    CUSTOMER: $("#CUSTOMER").val(),
                    M_Model: $("#M_Model").val(),
                    M_Lineoff: $("#M_Lineoff").val(),
                    M_MatNo: $("#M_MatNo").val(),
                    M_MatDesc: $("#M_MatDesc").val(),

                    M_CustPName: $("#M_CustPName").val(),
                    C_CustPNo: $("#C_CustPNo").val(),
                    M_SellPrice: $("#M_SellPrice").val(),
                    M_ST_Effect: $("#M_ST_Effect").val(),
                    A_Mat_Group: $('#A_Mat_Group').val(),
                    A_Part_Name: $('#A_Part_Name').val(),
                    A_Mold_Owner: $('#A_Mold_Owner').val(),
                    A_Light_Type: $('#A_Light_Type').val(),
                    A_Type_No: $('#A_Type_No').val(),
                    A_Part_Side: $('#A_Part_Side').val(),
                    M_Remark: $('#M_Remark').val(),
                    Getfirst: $('#getFirst').val(),
                    SellPrice_Status: getdata,
                    Car_Type: $('#Car_Type').val()
            },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;

                    if (data.isValid == "true") {
                         alert(data.message);

                         setTimeout(function () {
                                    window.location.href = urlAction;
                          }, 2000)}

                     else {
                        alert(data.message);

                     }

                //alert(obj.result);
                //var urlAction = $('#ViewData').val();
                //window.location.href = urlAction;
            }
        });
        }


    }

    $(function () {
        $('#M_Model').keyup(function (e) {
            var max = 4;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter2').html(char);
        });

        $('#M_MatNo').keyup(function (e) {
            var max = 11;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter3').html(char);
        });
    });

    $("#CUSTOMER").change(function () {

        var urlAction = $('#getModel').val();
        var cust = $("#CUSTOMER").val();

        console.log(cust);
        $.ajax({
            url: urlAction,
            type: "POST",
            data: {
                custid: cust
            },
            success: function (obj) {
                console.log(obj.result);
                $("#M_Model").html('');
                $("#M_Model").append('<option>Choose Model</option>');
                $.each(obj.result, function (i, obj) {

                    $("#M_Model").append('<option value="' + obj.iValue + '">' + obj.iKey + '</option>');
                });
            }
        });
    });

</script>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
