﻿@model IEnumerable<SAP_MAT_SETUP.Database.V_SAP_MAT_SETUP_LAST>

@{
    ViewBag.Title = "Final";
}

<style>

    #approveCStable td, #approveCStable th {
        white-space: nowrap;
    }

    table {
        /*table-layout: fixed !important;*/
        width: 100%;
        display: block;
        white-space: nowrap !important;
        table-layout: fixed;
        word-wrap: break-word;
    }

    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3 !important;
        text-align: left !important;
    }

    th, td {
        border-color: #000;
    }

</style>
<head>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
</head>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Final</h1>
        <div class="row">
            <div class="col-md-6">
                <label>Search</label>
                <input type="text" class="form-control" id="txtSearch" onkeyup="myFunction()" />
            </div>
            <div class="col-md-6">
                <br>
                @{var url = @Url.Action("Approve", "Home"); }
                <input type="button" value="Back" style="float:right" class="btn btn-outline-dark btn-lg" onclick="location.href =' @url'" />
            </div>
        </div>
        <br />

        <div class="table-responsive">
            <table id="tbdisplay" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Reg ID</th>
                        <th>Model</th>
                        <th>Lineoff</th>
                        <th>Material No.</th>
                        <th>Customer Part No.</th>
                        <th>Customer Part Name</th>
                        <th>SellPrice</th>
                        <th>Price Status</th>
                        <th>ST Effect</th>
                        <th>Material Group</th>
                        <th>PartName</th>
                        <th>MoldOwner</th>
                        <th>LightType</th>
                        <th>PartSide</th>
                        <th name="remark">Remark</th>
                    </tr>
                </thead>
                <tbody id="mytable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.I_RegID)</td>
                            <td>@Html.DisplayFor(modelItem => item.M_Model)</td>
                            <td>@Html.DisplayFor(modelItem => item.M_Lineoff)</td>
                            <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.C_CustPNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.M_CustPName)</td>
                            <td style="text-align:left;">@Html.ValueFor(modelItem => item.M_SellPrice, "{0:0.000}")</td>
                            @*tab status*@
                            @if (item.SellPrice_Status == "true")
                            {
                                string getStatus = "Final";
                                <td>@getStatus</td>
                            }
                            @if (item.SellPrice_Status == "false")
                            {
                                string getStatus = "Estimate";
                                <td>@getStatus</td>
                            }

                            <td>@Html.ValueFor(modelItem => item.M_ST_Effect, "{0:dd/MM/yyyy}")</td>
                            <td>@Html.DisplayFor(modelItem => item.A_Mat_Group)</td>
                            <td>@Html.DisplayFor(modelItem => item.A_Part_Name)</td>


                            <td>@Html.DisplayFor(modelItem => item.A_Mold_Owner)</td>
                            <td>@Html.DisplayFor(modelItem => item.A_Light_Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.A_Part_Side)</td>
                            <td>@Html.DisplayFor(modelItem => item.M_Remark)</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {


        $('#tbdisplay').DataTable({
            paging: false,
            searching: false,

        });
        //var table = $('#tbdisplay').DataTable();
        //table.columns.adjust().draw();

        //$('#tbdisplay').on('column-sizing.dt', function (e, settings) {
        //    console.log('Column width recalculated in table');
        //});

    });

    $("#txtSearch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#mytable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

</script>
