﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAPMAT_Mold_Owner>

@{
    ViewBag.Title = "MoldOwner";
}

@Html.Hidden("DelMold", @Url.Action("DelMold", "Home"))
@Html.Hidden("ViewData", @Url.Action("AddMold", "Home"))

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Mold Owner</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Mold Owner</button>
        <h1></h1>


        <table id="Moldtb" class="table table-bordered table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Mold Code</th>
                    <th>Mold Owner Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MoldOwnerCD)</td>
                        <td>@Html.DisplayFor(modelItem => item.MoldOwnerName)</td>
                        <td>@Html.ActionLink("Edit", "EditMold", new { id = item.MoldOwnerCD })</td>
                        <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.MoldOwnerCD">DELETE</button></td>
                    </tr>
                }
            </tbody>



        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        table = $('#Moldtb').DataTable();

    });

    $('#Moldtb').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Mold Owner ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelMold').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1{
        text-align:center;
    }
</style>
