﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAPMAT_Part_Name>

@{
    ViewBag.Title = "PName";
}

@Html.Hidden("DelPName", @Url.Action("DelPName", "Home"))
@Html.Hidden("ViewData", @Url.Action("AddPName", "Home"))

<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<div class="card bg-light text-dark">
    <div class="card-body">
        <br />
        <h1>Part Name</h1>
        <br />
        <button type="button" class="btn btn-primary" onclick="OpenPage()">Add Part Name</button>
        <h1></h1>
        <table id="Pnametb" class="table table-bordered table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PartNameCD)</th>
                    <th>@Html.DisplayNameFor(model => model.PartNameDesc)</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PartNameCD)</td>
                        <td>@Html.DisplayFor(modelItem => item.PartNameDesc)</td>
                        <td>@Html.ActionLink("Edit", "EditPName", new { id = item.PartNameCD }) </td>
                        <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.PartNameCD">DELETE</button></td>

                    </tr>
                }
            </tbody>



        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        table = $('#Pnametb').DataTable();

    });

    $('#Pnametb').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Part Name ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelPName').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }
</script>

<style>
    h1{
        text-align:center;
    }
</style>