﻿@model SAP_MAT_SETUP.Models.Sellprice
@{
    ViewBag.Title = "Sell Price Check";
}

@Html.Hidden("insSellPrice", @Url.Action("insSellPrice", "Home"))
@Html.Hidden("updateSellPrice", @Url.Action("updateSellPrice", "Home"))
@Html.Hidden("I_RegID", (string)ViewBag.I_RegID)
@Html.Hidden("getCustName", @Url.Action("getCustName", "Home"))
@Html.Hidden("DelSellPrice", @Url.Action("DelSellPrice", "Home"))
@Html.Hidden("getSellPrice", @Url.Action("getSellPrice", "Home"))
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))

@*@Html.HiddenFor(model => model.C_CustPNo)*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap4-toggle.min.js"></script>
<link href="~/Content/bootstrap4-toggle.min.css" rel="stylesheet" />
@*<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
*@
@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
@*<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>*@
@*<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@



<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Package Confirm Price No.</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label class="col-form-label">Customer Name</label>
                            <span>
                                <input type="text" id="CustName" class="form-control" value="" readonly>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">
                            <label class="col-form-label">Customer Part No. </label>
                            <span>
                                <input type="text" id="CustMat" class="form-control" value="" readonly>
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Seq:</label>
                            <span>
                                @Html.EditorFor(model => model.Seq, new { htmlAttributes = new { @class = "form-control", @required = true } })
                            </span>
                            @Html.ValidationMessageFor(model => model.Seq, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">

                            <label>Package:</label>
                            <span>
                                @Html.DropDownList("Package",
                                        new SelectList(ViewBag.name, "iValue", "iKey"), "Choose Package",
                                               new { @class = "form-control", @style = "float:right;", @required = true })
                            </span>
                            @Html.ValidationMessageFor(model => model.Package, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Sell Price:</label>
                            <span>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "00.00", @maxlength = "8", @required = true } })
                            </span>
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-10">

                            <label>ST Effect:</label>
                            <span>
                                @Html.EditorFor(model => model.ST_EFFECT, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })

                            </span>
                            @Html.ValidationMessageFor(model => model.ST_EFFECT, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <input id="stackedCheck1" class="form-check-input" type="checkbox" data-toggle="toggle" data-on="Final" data-off="Estimate" data-size="lg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-lg" type="submit" onclick="validateForm()">Add</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger btn-lg" type="button" onclick="OpenPage()">Back</button>
            </div>
            @*<div class="col-md-2">
                    <button class="btn btn-success btn-lg" type="submit" onclick="updateSellPrice()">Update</button>
                </div>*@
        </div>
        <br />

        <h3>Confirm Price Table</h3>
        <br />
        <div class="table-responsive">
            <table id="example" class="display table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Seq</th>
                        <th>Package</th>
                        <th>Price</th>
                        <th>ST Effect</th>

                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var item in ViewBag.sell)
                        {
                            <tr>
                                <td><button type="button" class="btn btn-outline-danger" id="btnDelete" value="@item.Seq">DELETE</button></td>
                                <td>@item.Seq</td>
                                <td>@item.Package</td>
                                <td>@item.Price</td>
                                <td>@item.ST_EFFECT.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
        <br />
    </div>
</div>

<script>
    var RegID;
    var table;
    jQuery('#Package').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    $(function () {
        $('#stackedCheck1').change(function () {
            @* $('#console-event').html('Toggle: ' + $(this).prop('checked')) *@
            console.log($(this).prop('checked'));
        })
    })

    getCustName();

    function getCustName() {

        var custmat = getParameterByName('Cust');
        var CustName = getParameterByName('CustN');
        $("#CustMat").val(custmat);
        RegID = getParameterByName('RegId');
        @*var custname = getParameterByName('custN');*@
        var urlAction = $('#getCustName').val();
        console.log(CustName);

        @*$("#CustName").val(custname);*@

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: { Customers:CustName },
            success: function (obj) {
                console.log(obj.result);
                $("#CustName").val(obj.result);
            }
        });
    }

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    getSellPrice();
    function getSellPrice() {
        var urlAction = $('#getSellPrice').val();
        console.log('test');
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                RegID: getParameterByName('RegId'),
            },
            success: function (obj) {

                console.log(obj.result);

                var tablerow = $('#example').DataTable();
                for (var i = 0; i < obj.result.length; i++) {
                    tablerow.row.add([
                        "<td><button type='button' class='btn btn-outline-danger' id='btnDelete' value='" + obj.result[i].Seq + "'>DELETE</button></td>",
                        "<td>" + obj.result[i].Seq + "</td>",
                        "<td>" + obj.result[i].Package + "</td>",
                        "<td>" + obj.result[i].Price + "</td>",
                        "<td>" + convertDate(obj.result[i].ST_EFFECT, false) + "</td>",
                    ]).draw(false);
                }
            }
        });
    }

    function convertDate(confirmdate, takeTime) {
        var millidate = confirmdate.replace("/Date(", "").replace(")/", "")
        millidate = parseInt(millidate)
        var mydate = new Date(millidate)
        var confirmDate = pad(mydate.getDate(), 2) + "/" + pad(mydate.getMonth() + 1, 2) + "/" + mydate.getFullYear() + " "
        if (takeTime) {
            confirmDate += pad(mydate.getHours(), 2) + ":" + pad(mydate.getMinutes(), 2)
        }
        return confirmDate;
    }

    function pad(num, size) {
        var s = num + "";
        while (s.length < size) s = "0" + s;
        return s;
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $(document).ready(function () {
      table =   $('#example').DataTable();
    });
    function updateSellPrice() {
        @*var Customer = $('#CusT').val();*@
        var urlAction = $('#updateSellPrice').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                I_RegID: RegID,
                Seq: $("#Seq").val(),
                Package: $("#Package").val(),
                Price: $("#Price").val(),
                ST_EFFECT: $("#ST_EFFECT").val(),
                SellPrice_Status: $('#stackedCheck1').prop('checked'),
            },
            success: function (obj) {
                alert("Update Complete!!");
            }
        });
    }

    function validateForm() {

        var c = $('#Seq').val();
        var d = $('#Package').val();
        var f = $('#Price').val();
        var i = $('#ST_EFFECT').val();

        if (c == "" || d == "" || f == "" || i == "") {
            alert("Please Input Field!!");
            return false;
        } else {
            console.log("else")
            PriceUpdate();
        }
    }

    function insSellPrice() {
        @*var Customer = $('#CusT').val();*@
        var urlAction = $('#insSellPrice').val();
        var param = {
            I_RegID: RegID,
            Seq: $("#Seq").val(),
            Package: $("#Package").val(),
            Price: $("#Price").val(),
            ST_EFFECT: $("#ST_EFFECT").val()
            };
    console.log(param);
    $.ajax({
        url: urlAction,
        type: "POST",
        dataType: "JSON",
        data: param,
        success: function (obj) {
            alert("Add Sell Price Complete!!");
           @* var urlAction = $('#ViewData').val();
            window.location.href = urlAction;*@
        }
    });
    }

    function PriceUpdate() {

        if ($("#Seq").val() != null && $("#Seq").val() != '') {
            // Add product to Table
            //console.log($("#part_No").val());
            var table = document.getElementById('example');
            console.log(table.rows.length);
                PriceAddToTable();
            // Clear form fields
            formClear();

            // Focus to product name field
         @*   $("#part_No").focus();*@
        }
    }

    function PriceAddToTable() {

        //// First check if a <tbody> tag exists, add one if not
        //if ($("#example tbody").length == 0) {
        //    $("#example").append("<tbody></tbody>");
        //}

        //// Append product to the table
        //$("#example tbody").append("<tr>" +
        //    "<td>" + $("#Seq").val() + "</td>" +
        //    "<td>" + $("#Package").val() + "</td>" +
        //    "<td>" + $("#Price").val() + "</td>" +
        //    "<td>" + $("#ST_EFFECT").val() + "</td>" +
        //    "</tr>").draw(false);
        var tablerow = $('#example').DataTable();
        tablerow.row.add([
            "<td><button type='button' class='btn btn-outline-danger' id='btnDelete' value='" + $("#Seq").val() + "'>DELETE</button></td>",
            "<td>" + $("#Seq").val() + "</td>",
            "<td>" + $("#Package").val() + "</td>",
            "<td>" + $("#Price").val() + "</td>",
            "<td>" + $("#ST_EFFECT").val() + "</td>",
        ]).draw(false);

        insSellPrice();
        formClear();
    }


    function formClear() {

        $("#Seq").val("");
        $("#Package").val("");
        $("#Price").val("");
        $("#ST_EFFECT").val("");

    }



    $('#example').on("click", "button", function () {

        if (confirm('Do you want to delete this confirm price No/Package ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var Seq = $(this).val();
            console.log(I_RegID);
            var urlAction = $('#DelSellPrice').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: RegID,
                    seq: Seq,
                },
                success: function (obj) {

                }
            });
        } else {

        }
    });
</script>

<style>
    h1, h3 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
