﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_SELLING_PLANT1
@{
    ViewBag.Title = "Ship To Plant";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "THB",
        Value = "THB"
    });
    listItems.Add(new SelectListItem
    {
        Text = "USD",
        Value = "USD",
    });
    listItems.Add(new SelectListItem
    {
        Text = "EUR",
        Value = "EUR",
    });
    listItems.Add(new SelectListItem
    {
        Text = "AUD",
        Value = "AUD",
    });
    listItems.Add(new SelectListItem
    {
        Text = "JPY",
        Value = "JPY",
    });

    List<SelectListItem> Plantlist = new List<SelectListItem>();
    Plantlist.Add(new SelectListItem
    {
        Text = "1100",
        Value = "1100"
    });
    Plantlist.Add(new SelectListItem
    {
        Text = "1200",
        Value = "1200",
    });
}



@Html.Hidden("getCustName", @Url.Action("getCustName", "Home"))
@Html.Hidden("getDataPlant", @Url.Action("getDataPlant", "Home"))
@Html.Hidden("UpdateDataPlant", @Url.Action("UpdateDataPlant", "Home"))
@Html.Hidden("DelDataPlant", @Url.Action("DelDataPlant", "Home"))
@Html.Hidden("insSelliingPlant", @Url.Action("insSelliingPlant", "Home"))
@Html.Hidden("getShipToPlant", @Url.Action("getShipToPlant", "Home"))
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("getCust", @Url.Action("getCust", "Home"))
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
@*<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>*@
@*<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>*@

<style>
    #shiptoplant td, #shiptoplant th {
        white-space: nowrap;
    }
</style>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Ship To</h1>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <label class="col-form-label">Customer Name</label>
                        <span>
                            <input type="text" id="CustName" class="form-control" value="" readonly>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-10">
                        <label class="col-form-label">Customer Part No. </label>
                        <span>
                            <input type="text" id="CustMat" class="form-control" value="" readonly>
                        </span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <label class="col-form-label">Amount</label>
                        <span>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = true } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-10">
                        <label class="col-form-label">Currency</label>
                        <span>
                            @*<input type="text" id="CustMat" class="form-control">*@
                            @Html.DropDownListFor(model => model.Currency, listItems.OrderBy(x => x.Value), "Select a Currency", new { @class = "form-control", @required = true, @style = "float:right;" })
                        </span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <label>Plant</label>
                        <span>
                            @Html.DropDownList("plant",
                                          new SelectList(Plantlist.OrderBy(x => x.Value), "Value", "Text"), "Choose Customer Plant",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-10">
                        <label>Customer</label>
                        <span>
                            @Html.DropDownList("PLANT",
                                          new SelectList(ViewBag.shipto, "iValue", "iKey"), "Choose Customer Plant",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                        </span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <br />

        @* <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label class="col-form-label">Storage Location</label>
                            <span>
                                @Html.EditorFor(model => model.Str_Loc, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @required = true } })
                                @Html.ValidationMessageFor(model => model.Str_Loc, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>*@
        <br />

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="btnAdd" onclick="clickadd()">Add</button>
                    </div>
                    <div class="col-md-8">
                        <button class="btn btn-danger" onclick="OpenPage()">Back</button>
                    </div>
                </div>
            </div>
        </div>

        <label style="color:red">***กรณีมี Plant ใหม่เข้ามาแล้วต้องการ add plant ให้แจ้งที่แผนก Customer Service***</label>

        <div class="table-responsive">
            <table id="shiptoplant" class="display table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Seq</th>
                        <th>Plant</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Sold To</th>
                        <th>Channel</th>
                        <th>Division</th>
                        <th>Ship To</th>
                        <th>SLoc</th>
                        <th>Amount</th>
                        <th>Currency</th>
                    </tr>
                </thead>
            </table>
            <br />
        </div>
    </div>
</div>

<script>
    var plant;
    var RegID;
    var counts = 1;
    var table;

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }
    function clickadd() {
        plant = $('#PLANT').val();
        console.log(plant);

        CheckDup();
    }

    getShiptoPlant();
    function getShiptoPlant() {
        var urlAction = $('#getShipToPlant').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                RegID:getParameterByName('RegId'),
            },
            success: function (obj) {
                console.log(obj.result);
 
                var tablerow = $('#shiptoplant').DataTable();
                for (var i = 0; i < obj.result.length; i++) {

                    tablerow.row.add([
                        "<td><button type='button' class='btn btn-outline-dark' id='btnUpdate' onclick='updatePlant(" + obj.result[i].Cust_ID +")' value='" + obj.result[i].Cust_ID + "'>UPDATE</button></td>",
                        "<td><button type='button' class='btn btn-outline-danger' id='btnDelete' onclick='deletePlant(" + obj.result[i].Cust_ID +")' value='" + obj.result[i].Cust_ID + "'>DELETE</button></td>",
                        "<td>" + obj.result[i].Seq + "</td>",
                        "<td>" + obj.result[i].Plant + "</td>",
                        "<td>" + obj.result[i].Cust_ID + "</td>",
                        "<td>" + obj.result[i].Cust_Name + "</td>",
                        "<td>" + obj.result[i].Sold_To + "</td>",
                        "<td>" + obj.result[i].Channel + "</td>",
                        "<td>" + obj.result[i].Division + "</td>",
                        "<td>" + obj.result[i].Ship_To + "</td>",
                        "<td>" + obj.result[i].Str_Loc + "</td>",
                        "<td>" + obj.result[i].Amount + "</td>",
                        "<td>" + obj.result[i].Currency + "</td>",
                    ]).draw(false);
                }
                counts++;

            }
        });
    }

    function getDataPlant() {
        var urlAction = $('#getDataPlant').val();
        document.body.style.cursor = 'wait';
        document.getElementById("btnAdd").disabled = true;

        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                RegID: RegID,
                Plant: plant,
                @*Str_Loc: $('#SLoc').val(),*@
                Amount: $('#Amount').val(),
                Currency: $('#Currency').val(),
            },
            success: function (obj) {
                console.log(obj.result);
                //var rowCount = $('#shiptoplant tbody tr').length;
                //var amountOfRows = $('table#shiptoplant').find('tbody').children().length;

                //if (counts != 1) {
                //    counts = amountOfRows + 1;
                //}

                document.body.style.cursor = 'default';
                document.getElementById("btnAdd").disabled = false;

                var tablerow = $('#shiptoplant').DataTable();
                for (var i = 0; i < obj.result.length; i++) {

                    var CUSTID = obj.result[i].CUSTID;

                    tablerow.row.add([
                        "<td><button type='button' class='btn btn-outline-dark' onclick='updatePlant(" + obj.result[i].CUSTID + ")' id='btnUpdate' value='" + obj.result[i].CUSTID + "'>UPDATE</button></td>",
                        "<td><button type='button' class='btn btn-outline-danger'  onclick='deletePlant(" + obj.result[i].CUSTID + ")' id='btnDelete' value='" + obj.result[i].CUSTID + "'>DELETE</button></td>",
                        "<td>" + obj.newSeq + "</td>",
                        "<td>" + obj.result[i].PLANT + "</td>",
                        "<td>" + obj.result[i].CUSTID + "</td>",
                        "<td>" + obj.result[i].CUST_NAME + "</td>",
                        "<td>" + obj.result[i].SOLD_TO + "</td>",
                        "<td>" + obj.result[i].CHANNEL + "</td>",
                        "<td>" + obj.result[i].DIVISION + "</td>",
                        "<td>" + obj.result[i].SHIP_TO + "</td>",
                        "<td>" + obj.result[i].Str_Loc + "</td>",
                        "<td>" + $('#Amount').val() + "</td>",
                        "<td>" + $('#Currency').val() + "</td>",
                    ]).draw(false);
                }

                counts++;

                if (obj.isValid == "true") {
                    location.reload();
                }

                else {
                    alert(obj.message);
                }
            },
            error: function (data, textStatus, errorThrown) {
                //console.log("Error");
                //console.log(obj);
                document.body.style.cursor = 'default';
                document.getElementById("btnAdd").disabled = false;
                var err = data.message;
                alert("Error: " + err);
            },
        });

    }

    function CheckDup() {

        var table = document.getElementById('shiptoplant');
        var custID = $("#PLANT").val();
        console.log(custID);

        if (table.rows.length > 1) {
            var st = CheckCust(custID);
            if (st == true) {
                getDataPlant();
            } else {
                alert("Customer is Duplicate.");
            }
        } else {
            getDataPlant();
        }
    }

    function CheckCust(Cust) {
        var table = document.getElementById('shiptoplant');

        console.log(table.rows.length);
        if (table.rows.length > 2) {
            for (var r = 1, n = table.rows.length; r < n; r++) {
                console.log(table.rows[r].cells[3].innerHTML);
                if (Cust == table.rows[r].cells[3].innerHTML) {
                    return false;
                }

                //for (var c = 1, m = 4; c < m; c++) {
                //    alert(table.rows[r].cells[c].innerHTML);

                //}
            }
        }
        return true;
    }


    function insSelliingPlant() {
        @*var Customer = $('#CusT').val();*@
        var urlAction = $('#insSelliingPlant').val();
        console.log("insert");
          var param = [];
        var table = document.getElementById('shiptoplant');
        for (var r = 1, n = table.rows.length; r < n; r++) {
            param.push({
                I_RegID: RegID,
                Seq: table.rows[r].cells[1].innerHTML,
                Plant: table.rows[r].cells[2].innerHTML,
                Cust_ID: table.rows[r].cells[3].innerHTML,
                Cust_Name: table.rows[r].cells[4].innerHTML,
                Sold_To: table.rows[r].cells[5].innerHTML,
                Channel: table.rows[r].cells[6].innerHTML,
                Division: table.rows[r].cells[7].innerHTML,
                Ship_To: table.rows[r].cells[8].innerHTML,
                Str_Loc: table.rows[r].cells[9].innerHTML,
                @*Amount: $('#Amount').val(),
                Currency: $('#Currency').val(),*@
            });

            console.log(param);
        }
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                model: param,
            },
            success: function (obj) {
                alert(obj.result);
                @* var urlAction = $('#ViewData').val();
                window.location.href = urlAction;*@
        }
        });
    }


    $(document).ready(function () {
        table =  $('#shiptoplant').DataTable();
    });

    getCustName();

    function getCustName() {

        var custmat = getParameterByName('Cust');
        $("#CustMat").val(custmat);

        RegID = getParameterByName('RegId');

        console.log(RegID);

        var CustName = getParameterByName('CustN');
        var urlAction = $('#getCustName').val();
        console.log(custmat);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: { Customers: CustName },
            success: function (obj) {
                console.log(obj.result);
                $("#CustName").val(obj.result);
            }
        });

    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function deletePlant(cust) {
        var urlAction = $('#DelDataPlant').val();
        var RegID = getParameterByName('RegId');
        var custID = cust
        console.log(custID);
        console.log(RegID);
        if (confirm('Do you want to delete this plant ?')) {
            document.body.style.cursor = 'wait';
            table.row($(this).parents('tr')).remove().draw(false);
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: RegID,
                    custID: custID,
                },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';

                    if (data.isValid == "true") {
                        alert(data.message);
                    }

                    else {
                        alert(data.message);
                    }

                    location.reload();

                },
                error: function (data, textStatus, errorThrown) {
                    //console.log("Error");
                    //console.log(obj);
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;
                    var err = data.message;
                    alert("Error: " + err);
                },
            });
        } else {

        }
    };

    function updatePlant(cust) {
        var urlAction = $('#UpdateDataPlant').val();
        var RegID = getParameterByName('RegId');
        var custID = cust
        var custmat = getParameterByName('Cust');
        var CustName = getParameterByName('CustN');
        console.log(custmat);
        console.log(custID);
        console.log(RegID);

                $.ajax({
                 url: urlAction,
                  type: "POST",
                   dataType: "JSON",
                    data: {
                        id: RegID,
                        custID: custID,
                        custMat: custmat,
                        custname: CustName,
                    },
                   success: function (obj) {
                        location.href = '@Url.Action("UpdateShipto", "Home")';
                   }
                });

    };

    $("#plant").change(function () {

        var urlAction = $('#getCust').val();
        var plant = $("#plant").val();

        console.log(plant);
        $.ajax({
            url: urlAction,
            type: "POST",
            data: {
                plant: plant
            },
            success: function (obj) {
                console.log(obj.result);
                $("#PLANT").html('');
                $("#PLANT").append('<option>Choose Customer</option>');
                $.each(obj.result, function (i, obj) {
                    $("#PLANT").append('<option value="' + obj.iValue + '">' + obj.iKey + '</option>');
                });
            }
        });
    });


    //function RemoveFromTable(infos) {
    //    console.log(infos);
    //    //alert(infos.rowIndex);
    //    if (confirm('Delete ?')) {

    //        table.row("#" + infos.rowIndex).remove().draw(false);

    //    } else {

    //    }
    //}

</script>

<style>
    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
        text-align: center;
    }
</style>

