﻿@model SAP_MAT_SETUP.Database.T_SAPMAT_SELLING_PLANT1
@using SAP_MAT_SETUP.Controllers


<h2>Update</h2>

<br />
<div class="card bg-light text-dark">
    <div class="card-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-6" style="padding-left:5vw">
                        <input type="hidden" id="I_RegID" class="form-control" value="@Model.I_RegID" />
                        <input type="hidden" id="Seq" class="form-control" value="@Model.Seq" />
                        <label style="font-size:large">Plant</label>
                        <br />
                        @if (Model.Plant == "1100")
                        {
                            <select class="form-control" name="Plant" id="Plant">

                                <option value="1100">1100</option>
                                <option value="1200">1200</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control" name="Plant" id="Plant">
                                <option value="1200">1200</option>
                                <option value="1100">1100</option>

                            </select>
                        }
                    </div>
                    @*<div class="col-6" style="padding-left:5vw">
                            <label style="font-size:large">Customer ID</label>
                            <br />
                            <input type="text" class="form-control" value="@Model.Cust_ID" />
                        </div>*@
                    <div class="col-6" style="padding-left:5vw">

                        <label style="font-size:large">Customer Name</label>
                        <br />
                        <span>
                            @Html.DropDownList("PLANT",
                                          new SelectList(ViewBag.shipto, "iValue", "iKey"), Model.Cust_ID + " " + Model.Cust_Name,
                                                 new { @class = "form-control", @style = "padding-left:5vw; text-align:left;", @id = "CustomerName" /*@required = true */})
                        </span>
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Sold to</label>
                        <br />
                        <input type="text" id="SoldTo" class="form-control" value="@Model.Sold_To" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Channel</label>
                        <br />
                        <input type="text" id="Channel" class="form-control" value="@Model.Channel" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Division</label>
                        <br />
                        <input type="text" id="Division" class="form-control" value="@Model.Division" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Ship to</label>
                        <br />
                        <input type="text" id="ShipTo" class="form-control" value="@Model.Ship_To" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">SLoc</label>
                        <br />
                        <input type="text" id="SLoc" class="form-control" value="@Model.Str_Loc" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Amount</label>
                        <br />
                        <input type="text" id="Amount" class="form-control" value="@Model.Amount" />
                    </div>
                    <div class="col-6" style="padding-left:5vw">
                        <br />
                        <label style="font-size:large">Currency</label>
                        <br />
                        @if (Model.Currency == "AUD")
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="AUD">AUD</option>
                                <option value="EUR">EUR</option>
                                <option value="JPY">JPY</option>
                                <option value="THB">THB</option>
                                <option value="USD">USD</option>
                            </select>
                        }
                        else if (Model.Currency == "EUR")
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="EUR">EUR</option>
                                <option value="AUD">AUD</option>
                                <option value="JPY">JPY</option>
                                <option value="THB">THB</option>
                                <option value="USD">USD</option>
                            </select>
                        }
                        else if (Model.Currency == "JPY")
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="JPY">JPY</option>
                                <option value="EUR">EUR</option>
                                <option value="AUD">AUD</option>
                                <option value="THB">THB</option>
                                <option value="USD">USD</option>
                            </select>
                        }
                        else if (Model.Currency == "THB")
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="THB">THB</option>
                                <option value="JPY">JPY</option>
                                <option value="EUR">EUR</option>
                                <option value="AUD">AUD</option>
                                <option value="USD">USD</option>
                            </select>
                        }
                        else if (Model.Currency == "USD")
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="USD">USD</option>
                                <option value="THB">THB</option>
                                <option value="JPY">JPY</option>
                                <option value="EUR">EUR</option>
                                <option value="AUD">AUD</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control" name="Currency" id="Currency">
                                <option value="">Select currency</option>
                                <option value="AUD">AUD</option>
                                <option value="EUR">EUR</option>
                                <option value="JPY">JPY</option>
                                <option value="THB">THB</option>
                                <option value="USD">USD</option>
                            </select>
                        }
                    </div>
                    <div class="col-7">
                        <br />
                        <button type="button" id="btnUpdate" class="btn-lg btn-outline-success lg" style="margin-left:3vw">Update</button><span>&nbsp;</span> @Html.ActionLink("back", "ShipToPlant", "Home", new { RegId = Model.I_RegID, Cust = ViewBag.custMatNo, CustN = ViewBag.custname }, new { style = "display:inline" })
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnUpdate").click(function () { //Your Submit button
            if (confirm("คุณต้องการบันทึกการแก้ไขนี้" + "\n" + "จริงหรือไม่?")) {
                document.body.style.cursor = 'wait';
                document.getElementById("btnUpdate").disabled = true;

                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "getShipToUpdate", // Controller/View
                        data: { //Passing data
                            I_RegID: $("#I_RegID").val(),//Reading text box values using Jquery
                            Seq: $("#Seq").val(),
                            Plant: $("#Plant").val(),
                            CustomerName: $("#CustomerName").val(),
                            SoldTo: $("#SoldTo").val(),
                            Channel: $("#Channel").val(),
                            Division: $("#Division").val(),
                            ShipTo: $("#ShipTo").val(),
                            SLoc: $("#SLoc").val(),
                            Amount: $("#Amount").val(),
                            Currency: $("#Currency").val(),
                        },
                        success: function (data, textStatus, jQxhr) {
                            document.body.style.cursor = 'default';
                            document.getElementById("btnUpdate").disabled = false;

                            if (data.isValid == "true") {
                                alert(data.message);

                                var urlAction = '@Url.Action("EdtMar", "Home")';
                                setTimeout(function () {
                                    window.location.href = urlAction;
                                }, 2000)
                            }

                            else {
                                alert(data.message);
                            }

                            @*alert(obj.result);
                            var url = '@Url.Action("EdtMar", "Home")';
                            window.location.href = url +"/"+ obj.ID;*@
                        },
                        error: function (data, textStatus, errorThrown) {
                            //console.log("Error");
                            //console.log(obj);
                            document.body.style.cursor = 'default';
                            document.getElementById("btnUpdate").disabled = false;
                            var err = data.message;
                            alert("Error: " + err);
                        }
                    });
            }


        });
    });
</script>