﻿@model SAP_MAT_SETUP.Database.T_SAP_MAT_SETUP

@{
    ViewBag.Title = "View Detail";
}
@Html.HiddenFor(model => model.I_RegID)
@Html.HiddenFor(model => model.M_MatNo)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
@Html.Hidden("EdtMar", @Url.Action("EdtMar", "Home"))
@*@Html.Hidden("EditSA", @Url.Action("Admin", "Home"))*@
@Html.Hidden("EditCS", @Url.Action("CustomerService", "Home"))
@Html.Hidden("EditPPC", @Url.Action("Purchase", "PPC"))
@Html.Hidden("EditLG", @Url.Action("Logistic", "Logistic"))
@Html.Hidden("EditCO", @Url.Action("Costing", "Cost"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>View Detail</h1>
        <br />


        <div class="row">
            <div class="col-md-10">
                <h4>Marketing</h4>
            </div>
            <div class="col-md-1">
                @if (User.IsInRole("MK"))
                {
                    <button class="btn btn-danger" onclick="EditMK()">Edit</button>
                }
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="OpenPage()">Back</button>
            </div>
        </div>
        <br />
        <table>
            <thead>
                <tr>
                    <th>RegID</th>
                    <th>Model</th>
                    <th>Lineoff</th>
                    <th>Material No.</th>
                    <th>Customer Part No.</th>
                    @*<th>Material Description</th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.I_RegID)</td>
                    <td>@Html.DisplayFor(model => model.M_Model)</td>
                    <td>@Html.DisplayFor(model => model.M_Lineoff)</td>
                    <td>@Html.DisplayFor(model => model.M_MatNo)</td>
                    <td>@Html.DisplayFor(model => model.C_CustPNo)</td>
                    @*<td>@Html.DisplayFor(model => model.M_MatDesc)</td>*@
                </tr>
            </tbody>
        </table>
        <br />
        <table>
            <thead>
                <tr>
                    @*<th>TKC Customer Part No.</th>*@
                    @*<th>Customer Part No.</th>*@
                    <th>Customer Part Name</th>
                    @*<th>Sell Price</th>*@
                    @*<th>ST Effect</th>*@
                    <th>Material Type</th>
                    <th>Material Group</th>
                    <th>Mold Owner</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<td>@Html.DisplayFor(model => model.M_TKCCustPNo)</td>*@
                    @*<td>@Html.DisplayFor(model => model.C_CustPNo)</td>*@
                    <td>@Html.DisplayFor(model => model.M_CustPName)</td>
                    @*<td>@Html.DisplayFor(model => model.M_SellPrice)</td>*@
                    @* <td>@Html.ValueFor(model => model.M_ST_Effect, "{0:dd/MM/yyyy}")</td>*@
                    <td>@Html.DisplayFor(model => model.A_Mat_Group)</td>
                    <td>@Html.DisplayFor(model => model.A_Part_Name)</td>
                    <td>@Html.DisplayFor(model => model.A_Mold_Owner)</td>
                </tr>
            </tbody>
        </table>
        <br />

        <table>
            <thead>
                <tr>
                    @*<th>Material Group</th>
                        <th>Part Name</th>*@
                    @*<th>Mold Owner</th>*@
                    <th>Light Type</th>
                    @* <th>Type No.</th>*@
                    <th>Part Side</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<td>@Html.DisplayFor(model => model.A_Mat_Group)</td>
                        <td>@Html.DisplayFor(model => model.A_Part_Name)</td>*@
                    @*<td>@Html.DisplayFor(model => model.A_Mold_Owner)</td>*@
                    <td>@Html.DisplayFor(model => model.A_Light_Type)</td>
                    @*<td>@Html.DisplayFor(model => model.A_Type_No)</td>*@
                    <td>@Html.DisplayFor(model => model.A_Part_Side)</td>
                    <td>@Html.DisplayFor(model => model.M_Remark)</td>
                </tr>
            </tbody>
        </table>
        <br />



        @*<div class="row">
                <div class="col-md-10">
                    <h4>Sale Admin</h4>
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("SaleAdmin"))
                    {
                        <button class="btn btn-danger" onclick="EditSA()">Edit</button>
                    }
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" onclick="OpenPage()">Back</button>
                </div>
            </div>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Material Group</th>
                        <th>Part Name</th>
                        <th>Mold Owner</th>
                        <th>Light Type</th>
                        <th>Type No.</th>
                        <th>Part Side</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.A_Mat_Group)</td>
                        <td>@Html.DisplayFor(model => model.A_Part_Name)</td>
                        <td>@Html.DisplayFor(model => model.A_Mold_Owner)</td>
                        <td>@Html.DisplayFor(model => model.A_Light_Type)</td>
                        <td>@Html.DisplayFor(model => model.A_Type_No)</td>
                        <td>@Html.DisplayFor(model => model.A_Part_Side)</td>
                    </tr>
                </tbody>
            </table>
            <br />*@


        @*<div class="row">
                <div class="col-md-10">
                    <h4>Customer Service</h4>
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("CS"))
                    {
                        <button class="btn btn-danger" onclick="EditCS()">Edit</button>
                    }
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" onclick="OpenPage()">Back</button>
                </div>
            </div>
            <br />
            <table>
                <thead>
                    <tr>

                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Sold To</th>
                        <th>Channel</th>
                        <th>Division</th>
                        <th>Ship To</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@Html.DisplayFor(model => model.M_CustID)</td>
                        <td>@Html.DisplayFor(model => model.M_CustName)</td>
                        <td>@Html.DisplayFor(model => model.M_SoldTo)</td>
                        <td>@Html.DisplayFor(model => model.M_Channel)</td>
                        <td>@Html.DisplayFor(model => model.M_Division)</td>
                        <td>@Html.DisplayFor(model => model.C_ShipTo)</td>
                    </tr>
                </tbody>
            </table>
            <br />

        *@
        <div class="row">
            <div class="col-md-10">
                <h4>PPC</h4>
            </div>
            <div class="col-md-1">
                @if (User.IsInRole("PPC"))
                {
                    <button class="btn btn-danger" onclick="EditPPC()">Edit</button>
                }
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="OpenPage()">Back</button>
            </div>
        </div>
        <br />
        <table>
            <thead>
                <tr>
                    <th>Process</th>
                    <th>Spec</th>
                    <th>KB No.</th>
                    <th>Factory No.</th>
                    @*<th>Material Decsription</th>*@

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.P_Process)</td>
                    <td>@Html.DisplayFor(model => model.P_Spec)</td>
                    <td>@Html.DisplayFor(model => model.P_KBNo)</td>
                    <td>@Html.DisplayFor(model => model.P_FacNo)</td>
                    @*<td>@Html.DisplayFor(model => model.M_MatDesc)</td>*@

                </tr>
            </tbody>
        </table>
        <br />
        <table>
            <thead>
                <tr>
                    <th>Material Decsription</th>
                    <th>TKC Part Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.M_MatDesc)</td>
                    <td>@Html.DisplayFor(model => model.P_TkcPName)</td>
                </tr>
            </tbody>
        </table>
        <br />

        <div class="row">
            <div class="col-md-10">
                <h4>Logistic</h4>
            </div>
            <div class="col-md-1">
                @if (User.IsInRole("LG"))
                {
                    <button class="btn btn-danger" onclick="EditLG()">Edit</button>
                }
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="OpenPage()">Back</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <table>
                    <thead>
                        <tr>
                            <th>Box Qty.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.L_BoxQty)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br />

        @if (User.IsInRole("CO,PU,MK"))
        {
            <div class="row">
                <div class="col-md-10">
                    <h4>Costing</h4>
                </div>
                <div class="col-md-1">
                    @if (User.IsInRole("CO,PU"))
                    {
                        <button class="btn btn-danger" onclick="EditCO()">Edit</button>
                    }
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" onclick="OpenPage()">Back</button>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <table>
                        <thead>
                            <tr>
                                <th>STD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.C_STD)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>


<script>
    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    function EditMK() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EdtMar').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }
    //ไม่ได้ใช้แล้ว
    @*function EditSA() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EditSA').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }*@

    function EditCS() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EditCS').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }

    function EditPPC() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EditPPC').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }

    function EditLG() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EditLG').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }

    function EditCO() {
        var RegID = $('#I_RegID').val();
        var urlAction = $('#EditCO').val();
        window.location.href = urlAction + "?Id=" + RegID;

    }

</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #6C6C6C;
        text-align: center;
        padding: 8px;
    }

    th {
        background: #D5D3D3;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h1 {
        text-align: center;
    }
</style>
