﻿@model SAP_MAT_SETUP.Database.T_SAP_RPT_GROUP

@{
    ViewBag.Title = "Add Group Master Stock Report";
}

@Html.Hidden("insRptGroup", @Url.Action("insRptGroup", "PPC"))
@Html.Hidden("ViewData", @Url.Action("RptGroup", "PPC"))


<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Add Group Master Stock Report</h1>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Part No</label>
                            <span>

                                @Html.EditorFor(model => model.I_ITEM_CD, new { htmlAttributes = new { @class = "form-control", @maxlength = "15", @required = true } })
                                @Html.ValidationMessageFor(model => model.I_ITEM_CD, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Plant</label>
                            <span>

                                @Html.EditorFor(model => model.PLANT, new { htmlAttributes = new { @class = "form-control", @maxlength = "15", @required = true } })
                                @Html.ValidationMessageFor(model => model.PLANT, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Selling Type</label>
                            <span>

                                @Html.EditorFor(model => model.SELL_TYPE, new { htmlAttributes = new { @class = "form-control", @maxlength = "15", @required = true } })
                                @Html.ValidationMessageFor(model => model.SELL_TYPE, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Report Group</label>
                            <span>

                                @Html.EditorFor(model => model.RPT_GROUP, new { htmlAttributes = new { @class = "form-control", @maxlength = "40", @required = true } })
                                @Html.ValidationMessageFor(model => model.RPT_GROUP, "", new { @class = "text-danger" })
                            </span>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <label style="color:red; font-size:14px">ไม่เกิน 40 ตัวอักษร</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label>Add Month</label>
                            <span>

                                @Html.EditorFor(model => model.ADD_MNTH, new { htmlAttributes = new { @class = "form-control", @maxlength = "15", @required = true } })
                                @Html.ValidationMessageFor(model => model.ADD_MNTH, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-lg" onclick="insRptGroup()">Add</button>
            </div>
        </div>

    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>
    function insRptGroup() {
        var urlAction = $('#insRptGroup').val();
        var param = {
            I_ITEM_CD: $("#I_ITEM_CD").val(),
            PLANT: $("#PLANT").val(),
            SELL_TYPE: $("#SELL_TYPE").val(),
            RPT_GROUP: $("#RPT_GROUP").val(),
            ADD_MNTH: $("#ADD_MNTH").val(),
        };
        console.log(param);
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: param,
            success: function (obj) {
                alert("Add RPT Group Complete!!");
                var urlAction = $('#ViewData').val();
                window.location.href = urlAction;
            }
        });
    }
</script>
