﻿@model SAP_MAT_SETUP.Models.Purchase
@{
    ViewBag.Title = "Edit Material - PPC";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "F1",
        Value = "F1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "F2",
        Value = "F2",
    });
    listItems.Add(new SelectListItem
    {
        Text = "F3",
        Value = "F3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "F4",
        Value = "F4"
    });
    listItems.Add(new SelectListItem
    {
        Text = "P1",
        Value = "P1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "P3",
        Value = "P3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "T1",
        Value = "T1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "T2",
        Value = "T2"
    });
    listItems.Add(new SelectListItem
    {
        Text = "K1",
        Value = "K1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "K2",
        Value = "K2"
    });
    listItems.Add(new SelectListItem
    {
        Text = "E1",
        Value = "E1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "E5",
        Value = "E5"
    });
}

@Html.Hidden("updatePurchase", @Url.Action("updatePurchase", "PPC"))
@Html.HiddenFor(model => model.I_RegID)
@Html.Hidden("ViewData", @Url.Action("Index", "Account"))
<form>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <br />
            <h1>MATERIAL SETUP</h1>
            <br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col">RegID</th>
                        <th style="text-align:center" scope="col">Model</th>
                        <th style="text-align:center" scope="col">Lineoff</th>
                        <th style="text-align:center" scope="col">Material No.</th>
                        <th style="text-align:center" scope="col">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">@Model.I_RegID</td>
                        <td style="text-align:center">@Model.M_Model</td>
                        <td style="text-align:center">@Model.M_Lineoff</td>
                        <td style="text-align:center">@Model.M_MatNo</td>
                        @if (Model.M_Remark == "Component Export")
                        {
                            <td style="text-align:center">Component Export (15 Digit)</td>
                        }
                        else
                        {
                            <td style="text-align:center">@Model.M_Remark</td>
                        }

                    </tr>
                </tbody>
            </table>
            <br />


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">

                                    <label>TKC Part Name:</label>
                                    <span>

                                        @Html.EditorFor(model => model.P_TkcPName, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.P_TkcPName, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        @*<div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                                <span id="text-counter1">2</span> character(s) left.
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">

                                    <label>Process:</label>
                                    <span>

                                        @Html.DropDownList("P_Process",
                                          new SelectList(ViewBag.Process, "iValue", "iKey"), "Choose Process",
                                                 new { @class = "form-control", @style = "float:right;", @required = true })
                                        @Html.ValidationMessageFor(model => model.P_Process, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        @*<div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                                <span id="text-counter1">2</span> character(s) left.
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <label>Spec:</label>
                                    <span>
                                        @Html.EditorFor(model => model.P_Spec, new { htmlAttributes = new { @class = "form-control", @maxlength = "3", @required = true } })
                                        @Html.ValidationMessageFor(model => model.P_Spec, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                            <span id="text-counter2">3</span> character(s) left.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>KB Selling:</label>
                                    <span>
                                        @Html.EditorFor(model => model.P_KBNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @required = true } })
                                        @Html.ValidationMessageFor(model => model.P_KBNo, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                            <span id="text-counter3">4</span> character(s) left.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.P_FacNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.P_FacNo, "", new { @class = "text-danger" })*@
                                    <label>Factory No.:</label>
                                    <span>
                                        @Html.DropDownListFor(model => model.P_FacNo, listItems, "Select a Factory", new { @class = "form-control", @required = true, @style = "float:right;" })

                                    </span>

                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>KB FG:</label>
                                    <span>
                                        @Html.EditorFor(model => model.P_Kb2, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @required = true } })
                                        @Html.ValidationMessageFor(model => model.P_Kb2, "", new { @class = "text-danger" })
                                    </span>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        <div id="text-counter-parent" class="row" style="color: #A5A5A5;">
                                            <span id="text-counter3">4</span> character(s) left.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="row"></div>
                        <button type="button" id="btnUpdate" class="btn btn-success btn-lg" onclick="validateForm()">Update</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-lg" onclick="OpenPage()">Cancel</button>
                    </div>
                </div>
                <br />

            }
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    jQuery('#P_KBNo').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#P_Kb2').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#P_Process').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
    jQuery('#P_Spec').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    function validateForm() {
        var a = $('#P_KBNo').val();
        var b = $('#P_Process').val();


        if (a == "" || b == "") {
            alert("Please Input Field!!");
            return false;
        } else {
            updatePurchase();
        }
    }

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }


    function updatePurchase() {
        var urlAction = $('#updatePurchase').val();
        if (confirm("คุณต้องการบันทึกการแก้ไขนี้" + "\n" + "จริงหรือไม่?")) {
            document.body.style.cursor = 'wait';
            document.getElementById("btnUpdate").disabled = true;

            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    I_RegID: $('#I_RegID').val(),
                    P_Process: $('#P_Process').val(),
                    P_Spec: $('#P_Spec').val(),
                    P_KBNo: $('#P_KBNo').val(),
                    P_Kb2: $('#P_Kb2').val(),
                    P_FacNo: $('#P_FacNo').val(),
                    P_TkcPName: $('#P_TkcPName').val(),
                },
                success: function (data, textStatus, jQxhr) {
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;
                    console.log(data);

                    if (data.isValid == "true") {
                        alert("Update Complete!!");

                        var urlAction = $('#ViewData').val();
                        setTimeout(function () {
                            window.location.href = urlAction;
                        }, 2000)
                    }

                    else {
                        alert(data.message);
                    }

                    //

                },
                error: function (data, textStatus, errorThrown){
                    //console.log("Error");
                    //console.log(obj);
                    document.body.style.cursor = 'default';
                    document.getElementById("btnUpdate").disabled = false;
                    var err = data.message;
                    alert("Error: " + err);
                },

            });
        }
    }

    $(function () {
        $('#P_KBNo').keyup(function (e) {
            var max = 4;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter3').html(char);
        });

        $('#P_Kb2').keyup(function (e) {
            var max = 4;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter3').html(char);
        });

        $('#P_Spec').keyup(function (e) {
            var max = 3;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter2').html(char);
        });

        $('#P_Process').keyup(function (e) {
            var max = 2;
            var len = $(this).val().length;
            var char = max - len;
            $('#text-counter1').html(char);
        });
    });

</script>

<style>
    h1 {
        text-align: center;
    }

    text-counter-parent {
        font-family: Arial, Helvetica, sans-serif;
        color: #F97262;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }

    th {
        background: #D5D3D3;
    }
</style>
