﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAP_RPT_GROUP>

@{
    ViewBag.Title = "Group Master Stock Report";
}

@Html.Hidden("ViewData", @Url.Action("AddRptGroup", "PPC"))

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>Group Master Stock Report</h1>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary" onclick="OpenPage()">Add RPT Group</button>
            </div>
        </div>
        <br />
        <br />
        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Part No.</th>
                        <th>Plant</th>
                        <th>Selling Type</th>
                        <th>RPT Group</th>
                        <th>Add Month</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.I_ITEM_CD</td>
                            <td>@item.PLANT</td>
                            <td>@item.SELL_TYPE</td>
                            <td>@item.RPT_GROUP</td>
                            <td>@item.ADD_MNTH</td>
                            <td>@Html.ActionLink("Edit", "EditRptGroup", "Home", new { Item = item.I_ITEM_CD.ToString().Trim() }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left;
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px;
    }

    input {
        width: 100%;
        float: right;
    }
</style>
<script>

    function OpenPage() {

        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;

    }

    $(document).ready(function () {
        $('#tbdisplay').DataTable();
    });

</script>
