﻿@*@model IEnumerable<SAP_MAT_SETUP.Database.T_SAP_MAT_SETUP>*@
@model IEnumerable<SAP_MAT_SETUP.Controllers.MaterialMasterView>

@{
    ViewBag.Title = "Main Menu";
}


@Html.Hidden("ViewData", @Url.Action("NExport", "Sale"))
@Html.Hidden("ViewData1", @Url.Action("AddMarketing", "Home"))
@Html.Hidden("DelMat", @Url.Action("DelMat", "Account"))

@Html.Hidden("CopyMat", @Url.Action("CopyMat", "Home"))

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
@*<script src="~/Scripts/popper.min.js"></script>*@

<style>
    #tbdisplay td, #tbdisplay th {
        white-space: nowrap;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        .form-control-dropdowns {
        /*        display: block; */
        /*      width: 100%; */
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
</style>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>MATERIAL MASTER SETUP</h1>

        <br />
        <div class="row">
            <div class="col-md-2">
                @if (User.IsInRole("MK,MgrMK"))
                {
                    <a role="button" class="btn btn-primary" href="@Url.Action("Marketing","Home")">Add New Material</a>
                }
            </div>
            <div class="col-md-4">
                @if (User.IsInRole("MK,MgrMK"))
                {
                    <div class="row">
                        <div class="col-md-8">
                            <input id="inputMat" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary" onclick="CopyMat()">COPY</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @if (User.IsInRole("MK,MgrMK"))
                {
                    <a role="button" class="btn btn-info" href="@Url.Action("NGList","Account")" style="float:right">NG List</a>
                    <a role="button" class="btn btn-success" href="@Url.Action("Approve","Home")" style="float:right">Approve</a>
                }
                @* @if (User.IsInRole("CS"))
                {
                    <a role="button" class="btn btn-success" href="@Url.Action("ApproveCS","Home")" style="float:right">Approve</a>
                }*@
                @if (User.IsInRole("PPC"))
                {
                    <a role="button" class="btn btn-info" href="@Url.Action("NGList","PPC")" style="float:right">NG List</a>
                    <a role="button" class="btn btn-success" href="@Url.Action("ApprovePPC","PPC")" style="float:right">Approve</a>
                }
                @if (User.IsInRole("LG"))
                {
                    <a role="button" class="btn btn-info" href="@Url.Action("NGList","Logistic")" style="float:right">NG List</a>
                    <a role="button" class="btn btn-success" href="@Url.Action("ApproveLG","Logistic")" style="float:right">Approve</a>
                }
                @if (User.IsInRole("CO,PU"))
                {
                    <a role="button" class="btn btn-info" href="@Url.Action("NGList","Cost")" style="float:right">NG List</a>
                    <a role="button" class="btn btn-success" href="@Url.Action("ApproveCO","Cost")" style="float:right">Approve</a>
                }

            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <h1></h1>
                    <label>สถานะ OK = ข้อมูลได้รับการอนุมัติจาก manager แล้ว</label>
                </div>
                <div class="row">
                    <label>สถานะ NG = ข้อมูลยังไม่ได้รับการอนุมัติจาก manager หรือยัง Update ข้อมูลไม่เรียบร้อย</label>
                </div>
                <div class="row">
                    <label>สถานะ ONSCH = On Schedule</label>
                </div>


                @using (Html.BeginForm())
                {
                    <div class="row">
                        <label>เลือกสถานะ :</label> &nbsp; &nbsp;
                        <select class="form-control-dropdowns" id="ApproveStatus" name="ApproveStatus" onchange="searchData();">
                            <option value="All">--All--</option>
                            <option value="OK">OK</option>
                            <option value="NG">NG</option>
                            <option value="ONSCH">ONSCH</option>
                        </select>

                        &nbsp; &nbsp;
                        <input id="btnSearch" class="btn btn-success" type="submit" value="Search" style="display: none;" />
                    </div>
                }


            </div>
        </div>

        @if (User.IsInRole("SaleAdmin,MgrSaleAdmin"))
        {
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info" onclick="OpenPage()">Not Export</button>
                </div>
            </div>
            <br />
        }

        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>RegID</th>
                        <th>Customer Part Name</th>
                        <th>Car Type</th>
                        <th>Selling Type</th>
                        <th>Plant</th>
                        <th>Model</th>
                        <th>Lineoff</th>
                        <th>Material No.</th>
                        <th>Customer Part No.</th>
                        <th>MK</th>
                        <th>PPC</th>
                        <th>LG</th>
                        <th>CO/PU</th>
                        <th>CO</th>
                        <th>PU</th>
                        <th>View</th>
                        @if (User.IsInRole("MK,MgrMK,PPC,LG,CO,PU"))
                        {
                            <th>Edit</th>
                        }
                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            <th>Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.I_RegID)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_CustPName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Car_Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Remark)</td>
                        <td>@Html.DisplayFor(modelItem => item.Plant)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Lineoff)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                        <td style="text-align:left;">@Html.DisplayFor(modelItem => item.C_CustPNo)</td>
                        @*tab status*@

                        @if (item.I_Approve_MK == "")
                        {
                            if (item.Status_Approve_MK == "NG")
                            {
                                <td style="color: #ff0000">NG</td>
                            }

                            else
                            {
                                <td style="color: black">ONSCH</td>
                            }
                        }
                        else
                        {
                            <td style="color: #329949" title="@item.I_Approve_MK">OK</td>
                        }

                        @if (item.I_Approve_PPC == "")
                        {
                            if (item.Status_Approve_PPC == "NG")
                            {
                                <td style="color: #ff0000">NG</td>
                            }

                            else
                            {
                                <td style="color: black">ONSCH</td>
                            }
                        }
                        else
                        {
                            <td style="color: #329949" title="@item.I_Approve_PPC">OK</td>
                        }

                        @if (item.I_Approve_LG == "")
                        {
                            if (item.Status_Approve_LG == "NG")
                            {
                                <td style="color: #ff0000">NG</td>
                            }

                            else
                            {
                                <td style="color: black">ONSCH</td>
                            }
                        }
                        else
                        {
                            <td style="color: #329949" title="@item.I_Approve_LG">OK</td>
                        }

                        @if (item.P_FacNo == "")
                        {
                            if (item.I_Approve_CO == "")
                            {
                                if (item.Status_Approve_CO == "NG")
                                {
                                    <td style="color: #ff0000">NG</td>
                                }

                                else
                                {
                                    <td style="color: black">ONSCH</td>
                                }
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                            }
                        }
                        else
                        {
                            <td>-</td>
                        }


                        @if (item.P_FacNo == "F1" || item.P_FacNo == "F2" || item.P_FacNo == "F3" || item.P_FacNo == "F4")
                        {
                            if (item.I_Approve_CO == "")
                            {
                                if (item.Status_Approve_CO == "NG")
                                {
                                    <td style="color: #ff0000">NG</td>
                                }

                                else
                                {
                                    <td style="color: black">ONSCH</td>
                                }
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                            }

                        }
                        else
                        {
                            <td>-</td>
                        }

                        @if (item.P_FacNo != "F1" && item.P_FacNo != "F2" && item.P_FacNo != "F3" && item.P_FacNo != "F4" && item.P_FacNo != null)
                        {
                            if (item.I_Approve_CO == "")
                            {
                                if (item.Status_Approve_CO == "NG")
                                {
                                    <td style="color: #ff0000">NG</td>
                                }

                                else
                                {
                                    <td style="color: black">ONSCH</td>
                                }
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                            }
                        }
                        else
                        {
                            <td>-</td>
                        }

                        <td>@Html.ActionLink("View", "ViewDetail", "Home", new { id = item.I_RegID }, null)</td>

                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            <td>@Html.ActionLink("Edit", "EdtMar", "Home", new { id = item.I_RegID }, null)</td>
                        }
                        else if (User.IsInRole("PPC"))
                        {
                            <td>@Html.ActionLink("Edit", "Purchase", "PPC", new { id = item.I_RegID }, null)</td>
                        }
                        else if (User.IsInRole("LG"))
                        {
                            <td>@Html.ActionLink("Edit", "Logistic", "Logistic", new { id = item.I_RegID, Cust = item.C_CustPNo, CustN = item.CUSTOMER, MatN = item.M_MatNo }, new { target = "_blank" })</td>
                        }
                        else if (User.IsInRole("CO,PU"))
                        {
                            <td>@Html.ActionLink("Edit", "Costing", "Cost", new { id = item.I_RegID }, null)</td>
                        }

                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            <td><button type="button" class="btn btn-danger" id="btnDelete" value="@item.I_RegID">DELETE</button></td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function searchData() {
        var btnValidate = document.getElementById('btnSearch');
        btnValidate.click();
    }

    function CopyMat() {
        var mat = $('#inputMat').val();

        console.log(mat);
        var urlAction = $('#CopyMat').val();
        $.ajax({
            url: urlAction,
            type: "POST",
            dataType: "JSON",
            data: {
                MatNo: mat,
            },
            success: function (obj) {
                var I_RegID = obj.result.I_RegID
                console.log(I_RegID);
                OpenPageIns(I_RegID);
            }
        });
    }

    function OpenPageIns(I_RegID) {
        @*console.log(I_RegID);*@
        @*alert(I_RegID);*@
        var urlAction = $('#ViewData1').val() +"?id="+ I_RegID;
        window.location.href = urlAction;
    }

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    $(document).ready(function () {
        table = $('#tbdisplay').DataTable({
            ordering: false,
            lengthMenu: [[10, 25, 50], [10, 25, 50]],
            destroy: true,
            bLengthChange: true,
            bStateSave: true,
            paging: true,
            iDisplayLength: 10
        });

        SelectDropdown("ApproveStatus", "@ViewBag.ApproveStatus");
    });

    function SelectDropdown(name, value) {
        if (value == null || value == "")
            value = "All";
        $("#" + name).val(value);
        //$("input[name='" + name + "'][value='" + value + "']").prop('checked', true);

        return false; // Returning false would not submit the form

    }

    $('#tbdisplay').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Material ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelMat').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });
</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
    }

    th, td {
        text-align: center;
    }
</style>
