﻿@model IEnumerable<SAP_MAT_SETUP.Database.T_SAP_MAT_SETUP>

@{
    ViewBag.Title = "NGList";
}

@*<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
*@

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
@*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
<script src="~/Scripts/popper.min.js"></script>
@*<script src="~/Scripts/bootstrap-4.5.2.min.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>*@


<style>
    #tbdisplay td, #tbdisplay th {
        white-space: nowrap;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h1>MATERIAL MASTER SETUP</h1>

        <br />

        <div class="table-responsive">
            <table id="tbdisplay" class="table table-bordered table-hover table-striped wrap" style="width:100%">
                <thead>
                    <tr>
                        <th>RegID</th>
                        <th>Customer Part Name</th>
                        <th>Selling Type</th>
                        <th>Model</th>
                        <th>Lineoff</th>
                        <th>Material No.</th>
                        <th>Customer Part No.</th>
                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            <th>MK</th>
                        }

                        else if (User.IsInRole("PPC"))
                        {
                            <th>PPC</th>
                        }

                        else if (User.IsInRole("LG"))
                        {
                            <th>LG</th>
                        }

                        else if (User.IsInRole("CO"))
                        {
                            <th>CO</th>
                        }

                        else if (User.IsInRole("PU"))
                        {
                            <th>PU</th>
                        }

                        <th>View</th>
                        @if (User.IsInRole("MK,MgrMK,PPC,LG,CO,PU"))
                        {
                            <th>Edit</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.I_RegID)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_CustPName)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Remark)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_Lineoff)</td>
                        <td>@Html.DisplayFor(modelItem => item.M_MatNo)</td>
                        <td style="text-align:left;">@Html.DisplayFor(modelItem => item.C_CustPNo)</td>
                        @*tab status*@
                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            if (item.I_Approve_MK == null)
                            {
                                <td style="color: #ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_MK">OK</td>
                            }
                        }

                        else if (User.IsInRole("PPC"))
                        {
                            if (item.I_Approve_PPC == null)
                            {
                                <td style="color: #ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_PPC">OK</td>
                            }
                        }

                        else if (User.IsInRole("LG"))
                        {
                            if (item.I_Approve_LG == null)
                            {
                                <td style="color: #ff0000">NG</td>
                            }
                            else
                            {
                                <td style="color: #329949" title="@item.I_Approve_LG">OK</td>
                            }
                        }

                        else if (User.IsInRole("CO"))
                        {
                            if (item.P_FacNo == null)
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }

                            else if (item.P_FacNo == "F1" || item.P_FacNo == "F2" || item.P_FacNo == "F3" || item.P_FacNo == "F4")
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }

                            else if (item.P_FacNo != "F1" && item.P_FacNo != "F2" && item.P_FacNo != "F3" && item.P_FacNo != "F4" && item.P_FacNo != null)
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }
                        }


                        else if (User.IsInRole("PU"))
                        {
                            if (item.P_FacNo == null)
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }

                            else if (item.P_FacNo == "F1" || item.P_FacNo == "F2" || item.P_FacNo == "F3" || item.P_FacNo == "F4")
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }

                            else if (item.P_FacNo != "F1" && item.P_FacNo != "F2" && item.P_FacNo != "F3" && item.P_FacNo != "F4" && item.P_FacNo != null)
                            {
                                if (item.I_Approve_CO == null)
                                {
                                    <td style="color:#ff0000">NG</td>
                                }
                                else
                                {
                                    <td style="color: #329949" title="@item.I_Approve_CO">OK</td>
                                }
                            }
                        }



                        <td>@Html.ActionLink("View", "ViewDetail", "Home", new { id = item.I_RegID }, null)</td>

                        @if (User.IsInRole("MK,MgrMK"))
                        {
                            <td>@Html.ActionLink("Edit", "EdtMar", "Home", new { id = item.I_RegID }, null)</td>
                        }
                        else if (User.IsInRole("PPC"))
                        {
                            <td>@Html.ActionLink("Edit", "Purchase", "PPC", new { id = item.I_RegID }, null)</td>
                        }
                        else if (User.IsInRole("LG"))
                        {
                            <td>@Html.ActionLink("Edit", "Logistic", "Logistic", new { id = item.I_RegID, Cust = item.C_CustPNo, CustN = item.CUSTOMER, MatN = item.M_MatNo }, new { target = "_blank" })</td>
                        }
                        else if (User.IsInRole("CO,PU"))
                        {
                            <td>@Html.ActionLink("Edit", "Costing", "Cost", new { id = item.I_RegID }, null)</td>
                        }


                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function OpenPageIns(I_RegID) {
        @*console.log(I_RegID);*@
        @*alert(I_RegID);*@
        var urlAction = $('#ViewData1').val() +"?id="+ I_RegID;
        window.location.href = urlAction;
    }

    function OpenPage() {
        var urlAction = $('#ViewData').val();
        window.location.href = urlAction;
    }

    $(document).ready(function () {
        table = $('#tbdisplay').DataTable({
            'ordering': false
        });

    });

    $('#tbdisplay').on("click", "button", function () {
        console.log('test');
        if (confirm('Do you want to delete this Material ?')) {
            table.row($(this).parents('tr')).remove().draw(false);

            var id = $(this).val();
            console.log(id);

            var urlAction = $('#DelMat').val();
            $.ajax({
                url: urlAction,
                type: "POST",
                dataType: "JSON",
                data: {
                    id: id,

                },
                success: function (obj) {

                }
            });
        } else {

        }
    });
</script>

<style>
    h1 {
        text-align: center;
    }

    th {
        background: #D5D3D3;
    }

    th, td {
        text-align: center;
    }
</style>