﻿@model SAP_MAT_SETUP.Models.RegistrationView
@using SAP_MAT_SETUP.Models
@{ ViewBag.Title = "Registration"; }

<div class="card bg-light text-dark">
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
<div class="alert alert-success">
    <strong>Success!</strong> @ViewBag.Message
</div> }
}
else
{
using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                    <div class="card bg-light text-dark">
                        <div class="card-body">
                            <h1>Registration</h1>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        @Html.ValidationMessage("ErrorEmail", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @{ List<ListDropDown> dropDowns = ViewBag.RolesCombo; }
                                        @Html.DropDownList("Department", new SelectList(dropDowns, "iKey", "iValue"), new { @class = "form-control" })
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <div class="col-md-10">
                                            <input type="submit" value="Create" class="btn btn-dark" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    if (ViewBag.Message != null)
                                        {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @ViewBag.Message
                    </div>}

            }
        }
</div>

<style>
    h1 {
        text-align: center;
    }

    label {
        float: left
    }

    span {
        display: block;
        overflow: hidden;
        padding: 0 4px 0 6px
    }

    input {
        width: 100%
    }
</style>

@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
