﻿@model IEnumerable<SAP_MAT_SETUP.Database.v_sapmat_revise_log>
@using SAP_MAT_SETUP.Models;

@{
    ViewBag.Title = "UserLog";
}

<head>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
</head>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h2 style="text-align:center">
            Revise History
        </h2>
        <br />

        <table id="TableZ" class="table table-bordered table-hover table-striped wrap nowrap" style="width:100%">
            <thead>
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.page)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.i_Reg_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.M_MatNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.M_Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.updDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.updby)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.updDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.RevNo)
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.page)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.i_Reg_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M_MatNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updDept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updby)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.updDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.RevNo)
                    </td>*@

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#TableZ').DataTable({
            ordering: false,
            lengthMenu: [[10, 25, 50], [10, 25, 50]],
            destroy: true,
            bLengthChange: true,
            bStateSave: true,
            paging: true,
            iDisplayLength: 10
        });
    });

</script>
